In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder. \
    appName("pyspark-1"). \
    getOrCreate()

In [3]:
import importlib

## Test get_HourlySalaryUDF

In [4]:
import sys
sys.path.insert(0,'../tests')

In [5]:
import test_UDF_functions as T

Loaded

In [6]:
T.loadTest()

True

In [7]:
help(T.test_get_HourlySalaryUDF)

Help on function test_get_HourlySalaryUDF in module test_UDF_functions:

test_get_HourlySalaryUDF(debug: bool = False, inject_error: bool = False)
    test utils.udf_functions.get_HourlySalaryUDF

    :param debug: prints DF test outputs and returns test data DF and results DF
                  If Debug is NOT set, then this test will either PASS or FAIL (assertion error)
    :param inject_error: to test the test.  Add a dileberate error!

In [8]:
importlib.reload(T)
df_test_data,salary_data_df_results = T.test_get_HourlySalaryUDF(debug=True)

Loaded
+---------------+-------------+---------------+--------------------+
|SalaryRangeFrom|SalaryRangeTo|SalaryFrequency|ExpectedHourlySalary|
+---------------+-------------+---------------+--------------------+
|            0.0|     100000.0|         Annual|               56.92|
|           null|     100000.0|         Annual|               56.92|
|       100000.0|         null|         Annual|               56.92|
|        80000.0|     100000.0|         Annual|               51.22|
|       100000.0|      80000.0|         Annual|               51.22|
|           null|         null|         Annual|                null|
|           null|         10.0|         Hourly|                10.0|
|            0.0|         10.0|         Hourly|                10.0|
|            5.0|         10.0|         Hourly|                 7.5|
|           null|         80.0|          Daily|                10.0|
|            0.0|         80.0|          Daily|                10.0|
|           60.0|         80.0|          Daily|                8.75|
+---------------+-------------+---------------+--------------------+

salary_data_df
None
+---------------+-------------+---------------+--------------------+------------+--------------------+-----------+
|SalaryRangeFrom|SalaryRangeTo|SalaryFrequency|ExpectedHourlySalary|HourlySalary|            TestDiff|Test Result|
+---------------+-------------+---------------+--------------------+------------+--------------------+-----------+
|            0.0|     100000.0|         Annual|               56.92|       56.92|-1.83105468920530...|       PASS|
|           null|     100000.0|         Annual|               56.92|       56.92|-1.83105468920530...|       PASS|
|       100000.0|         null|         Annual|               56.92|       56.92|-1.83105468920530...|       PASS|
|        80000.0|     100000.0|         Annual|               51.22|       51.22|1.220703126136868...|       PASS|
|       100000.0|      80000.0|         Annual|               51.22|       51.22|1.220703126136868...|       PASS|
|           null|         null|         Annual|                null|        null|                null|       PASS|
|           null|         10.0|         Hourly|                10.0|        10.0|                 0.0|       PASS|
|            0.0|         10.0|         Hourly|                10.0|        10.0|                 0.0|       PASS|
|            5.0|         10.0|         Hourly|                 7.5|         7.5|                 0.0|       PASS|
|           null|         80.0|          Daily|                10.0|        10.0|                 0.0|       PASS|
|            0.0|         80.0|          Daily|                10.0|        10.0|                 0.0|       PASS|
|           60.0|         80.0|          Daily|                8.75|        8.75|                 0.0|       PASS|
+---------------+-------------+---------------+--------------------+------------+--------------------+-----------+

salary_data_df_results
None

In [9]:
salary_data_df_results.toPandas()

,SalaryRangeFrom,SalaryRangeTo,SalaryFrequency,ExpectedHourlySalary,HourlySalary,TestDiff,Test Result
0,0.0,100000.0,Annual,56.92,56.919998,-0.000002,PASS
1,NaN,100000.0,Annual,56.92,56.919998,-0.000002,PASS
2,100000.0,NaN,Annual,56.92,56.919998,-0.000002,PASS
3,80000.0,100000.0,Annual,51.22,51.220001,0.000001,PASS
4,100000.0,80000.0,Annual,51.22,51.220001,0.000001,PASS
5,NaN,NaN,Annual,NaN,NaN,NaN,PASS
6,NaN,10.0,Hourly,10.00,10.000000,0.000000,PASS
7,0.0,10.0,Hourly,10.00,10.000000,0.000000,PASS
8,5.0,10.0,Hourly,7.50,7.500000,0.000000,PASS
9,NaN,80.0,Daily,10.00,10.000000,0.000000,PASS
10,0.0,80.0,Daily,10.00,10.000000,0.000000,PASS
11,60.0,80.0,Daily,8.75,8.750000,0.000000,PASS

## Test the test case

- inject_error -> True

- with debug = True, df_test_data,salary_data_df_results dataframes should be returned so that the developer can investigate out what has gone wrong 
- with debug False, the test will simply throw an error (see next test)

In [10]:
importlib.reload(T)
df_test_data,salary_data_df_results = T.test_get_HourlySalaryUDF(debug=True, inject_error=True)

Loaded
+---------------+-------------+---------------+--------------------+
|SalaryRangeFrom|SalaryRangeTo|SalaryFrequency|ExpectedHourlySalary|
+---------------+-------------+---------------+--------------------+
|            0.0|     100000.0|         Annual|               56.92|
|           null|     100000.0|         Annual|               56.92|
|       100000.0|         null|         Annual|               56.92|
|        80000.0|     100000.0|         Annual|               51.22|
|       100000.0|      80000.0|         Annual|               51.22|
|           null|         null|         Annual|                null|
|           null|         10.0|         Hourly|                10.0|
|            0.0|         10.0|         Hourly|                10.0|
|            5.0|         10.0|         Hourly|                 7.5|
|           null|         80.0|          Daily|                10.0|
|            0.0|         80.0|          Daily|                10.0|
|           60.0|         80.0|          Daily|                8.75|
|           60.0|         80.0|          Daily|                 8.0|
+---------------+-------------+---------------+--------------------+

salary_data_df
None
+---------------+-------------+---------------+--------------------+------------+--------------------+--------------------+
|SalaryRangeFrom|SalaryRangeTo|SalaryFrequency|ExpectedHourlySalary|HourlySalary|            TestDiff|         Test Result|
+---------------+-------------+---------------+--------------------+------------+--------------------+--------------------+
|            0.0|     100000.0|         Annual|               56.92|       56.92|-1.83105468920530...|                PASS|
|           null|     100000.0|         Annual|               56.92|       56.92|-1.83105468920530...|                PASS|
|       100000.0|         null|         Annual|               56.92|       56.92|-1.83105468920530...|                PASS|
|        80000.0|     100000.0|         Annual|               51.22|       51.22|1.220703126136868...|                PASS|
|       100000.0|      80000.0|         Annual|               51.22|       51.22|1.220703126136868...|                PASS|
|           null|         null|         Annual|                null|        null|                null|                PASS|
|           null|         10.0|         Hourly|                10.0|        10.0|                 0.0|                PASS|
|            0.0|         10.0|         Hourly|                10.0|        10.0|                 0.0|                PASS|
|            5.0|         10.0|         Hourly|                 7.5|         7.5|                 0.0|                PASS|
|           null|         80.0|          Daily|                10.0|        10.0|                 0.0|                PASS|
|            0.0|         80.0|          Daily|                10.0|        10.0|                 0.0|                PASS|
|           60.0|         80.0|          Daily|                8.75|        8.75|                 0.0|                PASS|
|           60.0|         80.0|          Daily|                 8.0|        8.75|                0.75|FAIL HourlySalary...|
+---------------+-------------+---------------+--------------------+------------+--------------------+--------------------+

salary_data_df_results
None

In [11]:
df_test_data.show()
salary_data_df_results.show()

+---------------+-------------+---------------+--------------------+
|SalaryRangeFrom|SalaryRangeTo|SalaryFrequency|ExpectedHourlySalary|
+---------------+-------------+---------------+--------------------+
|            0.0|     100000.0|         Annual|               56.92|
|           null|     100000.0|         Annual|               56.92|
|       100000.0|         null|         Annual|               56.92|
|        80000.0|     100000.0|         Annual|               51.22|
|       100000.0|      80000.0|         Annual|               51.22|
|           null|         null|         Annual|                null|
|           null|         10.0|         Hourly|                10.0|
|            0.0|         10.0|         Hourly|                10.0|
|            5.0|         10.0|         Hourly|                 7.5|
|           null|         80.0|          Daily|                10.0|
|            0.0|         80.0|          Daily|                10.0|
|           60.0|         80.0|          Daily|                8.75|
|           60.0|         80.0|          Daily|                 8.0|
+---------------+-------------+---------------+--------------------+

+---------------+-------------+---------------+--------------------+------------+--------------------+--------------------+
|SalaryRangeFrom|SalaryRangeTo|SalaryFrequency|ExpectedHourlySalary|HourlySalary|            TestDiff|         Test Result|
+---------------+-------------+---------------+--------------------+------------+--------------------+--------------------+
|            0.0|     100000.0|         Annual|               56.92|       56.92|-1.83105468920530...|                PASS|
|           null|     100000.0|         Annual|               56.92|       56.92|-1.83105468920530...|                PASS|
|       100000.0|         null|         Annual|               56.92|       56.92|-1.83105468920530...|                PASS|
|        80000.0|     100000.0|         Annual|               51.22|       51.22|1.220703126136868...|                PASS|
|       100000.0|      80000.0|         Annual|               51.22|       51.22|1.220703126136868...|                PASS|
|           null|         null|         Annual|                null|        null|                null|                PASS|
|           null|         10.0|         Hourly|                10.0|        10.0|                 0.0|                PASS|
|            0.0|         10.0|         Hourly|                10.0|        10.0|                 0.0|                PASS|
|            5.0|         10.0|         Hourly|                 7.5|         7.5|                 0.0|                PASS|
|           null|         80.0|          Daily|                10.0|        10.0|                 0.0|                PASS|
|            0.0|         80.0|          Daily|                10.0|        10.0|                 0.0|                PASS|
|           60.0|         80.0|          Daily|                8.75|        8.75|                 0.0|                PASS|
|           60.0|         80.0|          Daily|                 8.0|        8.75|                0.75|FAIL HourlySalary...|
+---------------+-------------+---------------+--------------------+------------+--------------------+--------------------+

In [14]:
importlib.reload(T)
# with no debug, test will not return the 2 DFs
T.test_get_HourlySalaryUDF(debug=False, inject_error=True)

Loaded

Exception: One or more tests failed, i.e. ExpectedHourlySalary != HourlySalary, run again with debug for more details