In [3]:
import sys; 
sys.path.insert(0, '..')

In [3]:
import findspark
findspark.init()

In [4]:
from pyspark.sql import SparkSession

spark = SparkSession.builder. \
    appName("pyspark-1"). \
    getOrCreate()

### Read data

In [5]:
df = spark.read.csv("/dataset/nyc-jobs.csv", header=True)
df.printSchema()

root
 |-- Job ID: string (nullable = true)
 |-- Agency: string (nullable = true)
 |-- Posting Type: string (nullable = true)
 |-- # Of Positions: string (nullable = true)
 |-- Business Title: string (nullable = true)
 |-- Civil Service Title: string (nullable = true)
 |-- Title Code No: string (nullable = true)
 |-- Level: string (nullable = true)
 |-- Job Category: string (nullable = true)
 |-- Full-Time/Part-Time indicator: string (nullable = true)
 |-- Salary Range From: string (nullable = true)
 |-- Salary Range To: string (nullable = true)
 |-- Salary Frequency: string (nullable = true)
 |-- Work Location: string (nullable = true)
 |-- Division/Work Unit: string (nullable = true)
 |-- Job Description: string (nullable = true)
 |-- Minimum Qual Requirements: string (nullable = true)
 |-- Preferred Skills: string (nullable = true)
 |-- Additional Information: string (nullable = true)
 |-- To Apply: string (nullable = true)
 |-- Hours/Shift: string (nullable = true)
 |-- Work Location 1: string (nullable = true)
 |-- Recruitment Contact: string (nullable = true)
 |-- Residency Requirement: string (nullable = true)
 |-- Posting Date: string (nullable = true)
 |-- Post Until: string (nullable = true)
 |-- Posting Updated: string (nullable = true)
 |-- Process Date: string (nullable = true)

In [104]:
df.count()

2946

### Sample function

In [4]:
from utils.distinct_values import get_distinct_values
get_distinct_values(df = df, column= 'Salary Frequency')

ModuleNotFoundError: No module named 'pyspark'

From the printSchema output we can see that the dtypes are all string.  Its possible to use inferSchema with read_cvs but for large data sets this can take a long time since the complete dataset needs to be scanned and for each column.

Instead, we can create the schema and use that to re create df

First, lets take a look at the data

In [ ]:
import utils.pre_processing_functions as PPF

In [6]:
help(PPF)

Help on module utils.pre_processing_functions in utils:

NAME
    utils.pre_processing_functions

FUNCTIONS
    get_counts_map(df: pyspark.sql.dataframe.DataFrame) -> dict
        Return dict of DataFrame df's columns and their respective non-null counts.

        Can be used to determine whether there are nulls in a dataframe, i.e.:
        If the count for each coumn != df.count() there are missing values
        (count be a neat function to do this already, and will use that when/if
        I find it, but for now this function is useful)

        Usage:
        df = .....
        counts_map=get_missing_counts(df)
        print(counts_map)
        {  'Job ID': '2946',
            'Agency': '2946',
            'Posting Type': '2946',
            '# Of Positions': '2946',
            .
            .
        }

        :param df: input dataframe
        :return: dict/map of column: <count>

FILE
    /utils/pre_processing_functions.py

In [ ]:
counts_map = PPF.get_counts_map(df)
counts_map

In [130]:
len(df.columns)

28

In [131]:
desc = df.describe().toPandas().transpose()
df_count=df.count()
print(f"count() {df_count}")
desc[0].sort_values()

count() 2946

Recruitment Contact               1183
Post Until                        1447
Work Location 1                   1808
Hours/Shift                       1884
Residency Requirement             2268
Additional Information            2383
Posting Date                      2429
Posting Updated                   2438
Process Date                      2521
Preferred Skills                  2687
Full-Time/Part-Time indicator     2751
To Apply                          2766
Minimum Qual Requirements         2928
Job Category                      2944
Job Description                   2946
Work Location                     2946
Salary Frequency                  2946
Salary Range To                   2946
Salary Range From                 2946
Level                             2946
Title Code No                     2946
Civil Service Title               2946
Business Title                    2946
# Of Positions                    2946
Posting Type                      2946
Agency                            2946
Job ID                            2946
Division/Work Unit                2946
summary                          count
Name: 0, dtype: object

In [11]:
desc.head()

,0,1,2,3,4
summary,count,mean,stddev,min,max
Job ID,2946,384821.5631364562,53075.33897715407,132292,97899
Agency,2946,None,None,ADMIN FOR CHILDREN'S SVCS,TEACHERS RETIREMENT SYSTEM
Posting Type,2946,None,None,External,Internal
# Of Positions,2946,2.4959266802443993,9.281312826466838,1,91

In [12]:
desc.loc["summary"]

0     count
1      mean
2    stddev
3       min
4       max
Name: summary, dtype: object

In [13]:
desc, desc.columns = desc[1:], desc.loc["summary"]

In [14]:
desc

summary,count,mean,stddev,min,max
Job ID,2946,384821.5631364562,53075.33897715407,132292,97899
Agency,2946,None,None,ADMIN FOR CHILDREN'S SVCS,TEACHERS RETIREMENT SYSTEM
Posting Type,2946,None,None,External,Internal
# Of Positions,2946,2.4959266802443993,9.281312826466838,1,91
Business Title,2946,None,None,.NET DEVELOPER,executive Vice President for Operations
Civil Service Title,2946,None,None,ACCOUNTANT,YOUTH COORDINATOR (YOUTH SERVI
Title Code No,2946,35558.51334552102,28141.297679769723,0527A,95841
Level,2946,1.0531400966183575,1.1403671232078134,0,M7
Job Category,2944,None,None,Administration & Human Resources,"Technology, Data & Innovation Social Services"
Full-Time/Part-Time indicator,2751,None,None,F,P
Salary Range From,2946,58904.139793856084,26986.575935791352,0,99353
Salary Range To,2946,85535.71162739307,42871.31345366744,10.36,99406
Salary Frequency,2946,None,None,Annual,Hourly
Work Location,2946,None,None,"1 Bay St., S.I.,Ny",Â Tort: Bronx
Division/Work Unit,2946,None,None,10th Precinct - Civilian/Cadet,Zoning
Job Description,2946,None,None,"""NOTE: IT IS IMPORTANT THAT CANDIDATES MUST HA...","â€¢ Under supervision, perform all types of wo..."
Minimum Qual Requirements,2928,None,None,â€¢ The candidate will be expected to gain a...,â€¢ Masterâ€™s degree in business administrati...
Preferred Skills,2687,None,None,â€¢ Performs other related assignments or s...,â€¢The Deputy Chief is expected to be a strate...
Additional Information,2383,None,None,"or """"3"""" above. However",â€œNOTE: This position is open to qualified pe...
To Apply,2766,None,None,"""""2""""",â€¢Extensive experience with CommVault Simpana...
Hours/Shift,1884,None,None,"""""2""""",â€¢General knowledge of NYC hiring practices. ...
Work Location 1,1808,None,None,"""""2""""",â€¢Knowledge of statistics and experience usin...
Recruitment Contact,1183,None,None,Environmental Health,â€¢ Strong written and verbal communication sk...
Residency Requirement,2268,None,None,executive or supervisory capacity. The super...,â€œNOTE: This position is open to qualified pe...
Posting Date,2429,None,None,"""""2"""" or """"3"""" above. However",â€¢5+ years in a Business Analyst role: experi...
Post Until,1447,None,None,"""""2""""",â€¢ Demonstrated ability to manage the design ...
Posting Updated,2438,None,None,"""""2""""",Varies
Process Date,2521,None,None,architecture,â€œNOTE: This position is open to qualified pe...

#### Job ID 

should be int and there are no missing values

* Required for data analysis:  No

In [30]:
df.select("Job ID").limit(10).show()

+------+
|Job ID|
+------+
| 87990|
| 97899|
|132292|
|132292|
|133921|
|133921|
|137433|
|138531|
|151131|
|152738|
+------+

In [31]:
df_count == counts_map["Job ID"]

True

#### Agency 

String and there are no missing values

* Required for data analysis:  Yes

>   What's the job posting having the highest salary per agency?

In [32]:
df_count == counts_map["Agency"]

True

#### Posting Type 

Would be a categorical type as there are only 2 distict values (none missing)

* Required for data analysis:  No

In [33]:
df.groupBy("Posting Type").count().orderBy('count', ascending=False).limit(10).show()

+------------+-----+
|Posting Type|count|
+------------+-----+
|    Internal| 1684|
|    External| 1262|
+------------+-----+

#### "# Of Positions"

should int type (no missing values)

* Required for data analysis:  No

In [34]:
df_count == counts_map["# Of Positions"]

True

#### Business Title 

string type and no missing

* Required for data analysis:  No

In [35]:
df_count == counts_map["Business Title"]

True

#### Civil Service Title 

string type and no missing

* Required for data analysis:  No

In [36]:
df_count == counts_map["Civil Service Title"]

True

#### Title Code No 

String, as there are numerics mixed in with numbers.
No missing values

* Required for data analysis:  No

In [37]:
df_count == counts_map["Title Code No"]

True

In [48]:
df.select("Title Code No").show()

+-------------+
|Title Code No|
+-------------+
|        40563|
|        10009|
|        90698|
|        90698|
|        91830|
|        91830|
|        12158|
|        21822|
|        1002D|
|        10251|
|        1002C|
|        13642|
|        13642|
|        10209|
|        10209|
|        10251|
|        13611|
|        1002C|
|        10251|
|        13632|
+-------------+
only showing top 20 rows

#### Level
String type
No missing values

* Required for data analysis:  No

In [49]:
df_count == counts_map["Level"]

True

In [56]:
df.select("Level").orderBy("Level",ascending=False).limit(10).show()

+-----+
|Level|
+-----+
|   M7|
|   M7|
|   M7|
|   M7|
|   M7|
|   M7|
|   M7|
|   M7|
|   M7|
|   M7|
+-----+

In [57]:
df.select("Level").orderBy("Level",ascending=True).limit(10).show()

+-----+
|Level|
+-----+
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
+-----+

#### Job Category

String Type, missing 2 values:

* Required for data analysis:  YES

> What's the salary distribution per job category 
    - 3 line graph, min, max, avg - grouped by category

> What's the number of jobs posting per category (Top 10)
    - report
    - histogram

In [132]:
df_count == counts_map["Job Category"]

False

In [116]:
df.groupBy("Job Category").count().show()

+--------------------+-----+
|        Job Category|count|
+--------------------+-----+
|Administration & ...|    1|
|Health Policy, Re...|    4|
|Administration & ...|    3|
|Information Techn...|    2|
|Finance, Accounti...|    1|
|Engineering, Arch...|    8|
|Legal Affairs Pol...|    6|
|Administration & ...|    2|
|Constituent Servi...|  129|
|Building Operatio...|  181|
|Engineering, Arch...|    2|
|Constituent Servi...|    8|
|Administration & ...|    1|
|       Legal Affairs|  226|
|Engineering, Arch...|    2|
|Finance, Accounti...|    4|
|Constituent Servi...|    2|
|Administration & ...|    2|
|Health Legal Affairs|    4|
|Administration & ...|    6|
+--------------------+-----+
only showing top 20 rows

In [ ]:
### there are 2 missing Job Catergory's

In [59]:
df_count - counts_map["Job Category"]

2

In [7]:
import pyspark.sql.functions as F

In [68]:
df.where(F.col('Job Category').isNull()).toPandas().transpose()

,0,1
Job ID,87990,97899
Agency,DEPARTMENT OF BUSINESS SERV.,DEPARTMENT OF BUSINESS SERV.
Posting Type,Internal,Internal
# Of Positions,1,1
Business Title,Account Manager,"EXECUTIVE DIRECTOR, BUSINESS DEVELOPMENT"
Civil Service Title,CONTRACT REVIEWER (OFFICE OF L,ADMINISTRATIVE BUSINESS PROMOT
Title Code No,40563,10009
Level,1,M3
Job Category,None,None
Full-Time/Part-Time indicator,None,F
Salary Range From,42405,60740
Salary Range To,65485,162014
Salary Frequency,Annual,Annual
Work Location,110 William St. N Y,110 William St. N Y
Division/Work Unit,Strategy & Analytics,Tech Talent Pipeline
Job Description,Division of Economic & Financial Opportunity (...,The New York City Department of Small Business...
Minimum Qual Requirements,"""1.\tA baccalaureate degree from an accredited...","""1. A baccalaureate degree from an accredited ..."
Preferred Skills,all candidates must have at least one year of...,None
Additional Information,â€¢\tExcellent interpersonal and organizationa...,None
To Apply,"Salary range for this position is: $42,405 - $...","In addition to applying through this website, ..."
Hours/Shift,None,None
Work Location 1,None,None
Recruitment Contact,None,None
Residency Requirement,None,New York City residency is generally required ...
Posting Date,New York City residency is generally required ...,2012-01-26T00:00:00.000
Post Until,2011-06-24T00:00:00.000,None
Posting Updated,None,2012-01-26T00:00:00.000
Process Date,2011-06-24T00:00:00.000,2019-12-17T00:00:00.000

- There are only 2 records with null Job Category.  I'll update these to "not specified"

#### Full-Time/Part-Time indicator

String with missing values

* Required for data analysis:  No

In [71]:
df.groupBy("Full-Time/Part-Time indicator").count().show()

+-----------------------------+-----+
|Full-Time/Part-Time indicator|count|
+-----------------------------+-----+
|                            F| 2625|
|                         null|  195|
|                            P|  126|
+-----------------------------+-----+

- There are 195 records with null.  I'll update these to "not specified" if required for reporting

#### Salary Range From

* Required for data analysis:  YES

> mutilple salary related questions to answer

Should be numeric, lets look at the data:

In [80]:
df_count - counts_map["Salary Range From"]

0

- check that all columns are int - actually select those that cannot be cast to int.

In [18]:
df.select("Salary Range From").where(F.col("Salary Range From").cast('float').isNull()).show()

+-----------------+
|Salary Range From|
+-----------------+
+-----------------+

In [82]:
desc.loc["Salary Range From"]

summary
count                   2946
mean      58904.139793856084
stddev    26986.575935791352
min                        0
max                    99353
Name: Salary Range From, dtype: object

- I will set to numeric

#### Salary Range To

Should be numeric, lets look at the data:


* Required for data analysis:  YES

> mutilple salary related questions to answer

In [84]:
df_count - counts_map["Salary Range To"]

0

In [19]:
df.select("Salary Range To").where(F.col("Salary Range To").cast('float').isNull()).show()

+---------------+
|Salary Range To|
+---------------+
+---------------+

In [86]:
desc.loc["Salary Range To"]

summary
count                  2946
mean      85535.71162739307
stddev    42871.31345366744
min                   10.36
max                   99406
Name: Salary Range To, dtype: object

* I will set to numeric

#### Salary Frequency

In [87]:
df.groupBy("Salary Frequency").count().limit(10).show()

+----------------+-----+
|Salary Frequency|count|
+----------------+-----+
|           Daily|   39|
|          Annual| 2712|
|          Hourly|  195|
+----------------+-----+

- Function required to put salary columns on the same frequencey scale

create function to create new columns: "Freq Adjusted Salary Range From" and "Freq Adjusted Salary Range To"

#### Work Location

String

* Required for data analysis:  Yes

#### Division/Work Unit

* Required for data analysis:  No

#### Job Description

* Required for data analysis:  No

#### Minimum Qual Requirements

String

* Required for data analysis:  YES

> mutilple salary related questions to answer

Data will need to be processed as this text field looks to be free txt as apposed to a selection from a drop-down combo list.  That means there could be typos, abbreviations etc etc.

In [118]:
df.select("Minimum Qual Requirements").limit(20).show()

+-------------------------+
|Minimum Qual Requirements|
+-------------------------+
|     "1.	A baccalaurea...|
|     "1. A baccalaurea...|
|     "1. Three years o...|
|     "1. Three years o...|
|     1. Five years of ...|
|     1. Five years of ...|
|     "1. A baccalaurea...|
|     Qualification Req...|
|     "1. A master's de...|
|     Qualification Req...|
|     "1. A baccalaurea...|
|     "1. A baccalaurea...|
|     "1. A baccalaurea...|
|     For Assignment Le...|
|     For Assignment Le...|
|     Qualification Req...|
|     "Qualification Re...|
|     "1. A baccalaurea...|
|     Qualification Req...|
|     "(1) A baccalaure...|
+-------------------------+

In [121]:
df.groupBy("Minimum Qual Requirements").count().limit(10).show(truncate=False)

+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----+
|Minimum Qual Requirements                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |count|
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----+
|Qualification Requirements  A four-year high school diploma or its educational equivalent approved by a State's department of education or a recognized accrediting organization and one year of satisfactory clerical experience.  Skills Requirement  Keyboard familiarity with the ability to type at a minimum of 100 key strokes (20 words) per minute.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              |72   |
|A Master's Degree in Social Work from an accredited school of social work and two years of full-time satisfactory experience practicing social work utilizing one, or a combination of, casework, group work and community organization methodologies, at least one year of which must have been in a supervisory capacity.  Special Note  Section 424-a of the New York Social Services Law requires an authorized agency to inquire whether a candidate for employment with child-care responsibilities has been the subject of a child abuse and maltreatment report. The agency has the discretion to assign a candidate who has been the subject of a child abuse and maltreatment report to a position with no child-care responsibilities.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         |2    |
|1.  A valid New York State Registration as a Landscape Architect; and   A masterâ€™s degree in landscape architecture (which must be obtained by January 31, 2015) from an accredited college or university, accredited by regional, national, professional or specialized agencies recognized as accrediting bodies by the U.S. Secretary of Education and by the Council of Higher Education Accreditation (CHEA) and three (3) years of full-time, satisfactory experience in landscape architectural work; or   NOTE: Current New York State Registration as a Landscape Architect must be maintained for the duration of your employment.  2. A valid New York State Registration as a Landscape Architect; and  Four (4) years full-time, satisfactory experience in landscape architectural work.   NOTE: Current New York State Registration as a Landscape Architect must be maintained for the duration of your employment. SPECIAL NOTE:                                                             In addition to above qualification requirements, to be eligible for placement in Assignment Levels II and III, individuals must have at least one year within the last three years of experience as a major contributor or a project leader on a complex project requiring additional and specific expertise in the disciplines needed to design or construct the project.|7    |
|1. There are no formal education or experience requirements for this position.  2. There are certain medical and physical requirements.  License Requirements  Possession of a Motor Vehicle Driver License valid in the State of New York.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               |4    |
|"1. A baccalaureate degree from an accredited college or university, accredited by regional, national, professional or specialized agencies recognized as accrediting bodies by the U. S. Secretary of Education and by the Council for Higher Education Accreditation (CHEA) and four years of satisfactory, full-time community liaison, community organization or community relations experience, at least two years of which must have been in a broad administrative or policy-making capacity with responsibility for planning, organizing, coordinating, developing, evaluating and/or administering a large community service program or activity; or 2. A four-year high school diploma or its educational equivalent approved by a State's Department of Education or a recognized accrediting organization and eight years of satisfactory, full-time experience as described in ""1"" above                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   |6    |
|1.	Ten years or more years of related experience in senior level management in leadership at the managerial, director or executive level, and, 2.	A baccalaureate degree from an accredited college in engineering, architecture, environmental science, business administration, public administration, or related field.   Desired Qualifications  1.	Project Management Professional (PMP) Certification; or a valid Professional Engineer license. 2.	Masterâ€™s degree from an accredited college in engineering, business administration, public administration, law, environmental science, sustainability or related field.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       |2    |
|"1. A baccalaureate degree from an accredited college including or supplemented by 24 credits in accounting, including one course each in advanced accounting, auditing and cost accounting and five years of full-time experience in management auditing, EDP auditing, financial accounting and/or financial auditing, at least 18 months of which must have been in an administrative, managerial or executive capacity or in the supervision of several teams of auditors; or  2. A valid Certified Public Accountant License or a certificate as a Certified Internal Auditor and four years of full-time experience as indicated in ""1"" above                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     |3    |
|1.	Graduation from an accredited college with a baccalaureate degree; or 2.	Graduation from an accredited community college plus two years of experience with administrative, analytic, coordinative, supervisory or liaison responsibilities; or 3.	A four year high school diploma or its educational equivalent plus four years of experience as described in â€œ2â€ above; or 4.	A satisfactory equivalent combination of education and experience                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   |4    |
|"1. Five years of full-time experience as a dockbuilder doing pile-driving work from floating pile drivers or floating derricks on docks, piers, bulkheads or ferry terminals or performing other waterfront related dockbuilding work; or  2. Three years of such experience as described in ""1"" above plus sufficient helper or apprentice experience to make up the equivalent of five years of acceptable experience. Six months of acceptable experience will be credited for each year of helper or apprenticeship experience.  3. Education and/or experience equivalent to ""1"" or ""2"" above."                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               |2    |
|1. A Baccalaureate Degree in Marine Engineering or Naval Architecture from an accredited college and five years of full-time paid experience in marine engineering operations, maintenance, design and repair, including writing contracts and maintenance specifications for the maintenance, design and repair of marine vessels and managing major marine projects including dry dockings; or closely related experience; or  2. Seagoing experience as a Chief Engineer or 1st Assistant Engineer with a United States Coast Guard Engineering License of Steam or Motor Vessels of any horsepower may be substituted for up to three years of the experience described in â€1â€ above, but all candidates must possess at least a Baccalaureate Degree in an engineering discipline or Naval Architecture.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         |2    |
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----+

#### Preferred Skills

* Required for data analysis:  No

#### Additional Information

* Required for data analysis:  No

#### To Apply

* Required for data analysis:  No

#### Hours/Shift

* Required for data analysis:  Yes / maybe.
    
May be needed to calculate salary in the case of hourly or monthly paid emplyees.  Need to check the data to find out

In [123]:
df.select(["Hours/Shift","Salary Frequency"]).show()

+--------------------+----------------+
|         Hours/Shift|Salary Frequency|
+--------------------+----------------+
|                null|          Annual|
|                null|          Annual|
| all candidates m...|          Annual|
| all candidates m...|          Annual|
|                null|          Hourly|
|                null|          Hourly|
| at least one yea...|          Annual|
|35 Hours per week...|          Annual|
| as described in ...|          Annual|
|Monday through Fr...|          Annual|
| full-time progre...|          Annual|
|"To apply please ...|          Annual|
|"To apply please ...|          Annual|
|Hours:  17 hours ...|          Hourly|
|Hours:  17 hours ...|          Hourly|
|                null|          Annual|
| or ""3"" above. ...|          Annual|
| full-time progre...|          Annual|
|                null|          Annual|
| you must explain...|          Annual|
+--------------------+----------------+
only showing top 20 rows

In [142]:
df.select(["Hours/Shift","Salary Frequency"]).where(F.col('Salary Frequency') == 'Hourly').toPandas()

                                           Hours/Shift Salary Frequency
0                                                 None           Hourly
1                                                 None           Hourly
2    Hours:  17 hours per week when school is in se...           Hourly
3    Hours:  17 hours per week when school is in se...           Hourly
4                                                 None           Hourly
..                                                 ...              ...
190  Up to 17 hours/week while school is in session...           Hourly
191  Up to 17 hours/week while school is in session...           Hourly
192                                               None           Hourly
193                                               None           Hourly
194                                               None           Hourly

[195 rows x 2 columns]

In [141]:
df.select(["Hours/Shift","Salary Frequency"]).where(F.col('Salary Frequency') == 'Daily').toPandas()

                                          Hours/Shift Salary Frequency
0                                                None            Daily
1                                                None            Daily
2    the U.S. Department of Labor or any apprentic...            Daily
3                   35 Hours / Shift To Be Determined            Daily
4                   35 Hours / Shift To Be Determined            Daily
5                                                None            Daily
6           with a major in Water Quality  Monitoring            Daily
7           with a major in Water Quality  Monitoring            Daily
8                 40 hours per week / rotating shifts            Daily
9                 40 hours per week / rotating shifts            Daily
10          with a major in Water Quality  Monitoring            Daily
11          with a major in Water Quality  Monitoring            Daily
12          with a major in Water Quality  Monitoring            Daily
13                                               None            Daily
14            40 Hours / Monday-Friday; plus overtime            Daily
15            40 Hours / Monday-Friday; plus overtime            Daily
16  NOTE: This position is open to qualified perso...            Daily
17  NOTE: This position is open to qualified perso...            Daily
18  TO APPLY, PLEASE SUBMIT RESUME WITH COVER LETT...            Daily
19  TO APPLY, PLEASE SUBMIT RESUME WITH COVER LETT...            Daily
20               To Be Determined / 40 hours per week            Daily
21               To Be Determined / 40 hours per week            Daily
22                                   To Be Determined            Daily
23                                   To Be Determined            Daily
24                                               None            Daily
25                                               None            Daily
26                                               None            Daily
27                                               None            Daily
28                                               None            Daily
29                                               None            Daily
30                                               None            Daily
31  This position is open to qualified persons wit...            Daily
32  This position is open to qualified persons wit...            Daily
33                To be determined / 40 Hour per week            Daily
34                To be determined / 40 Hour per week            Daily
35                                               None            Daily
36                                               None            Daily
37                                               None            Daily
38                                               None            Daily

* _tricky_ function required here.  Need to decide how to rationalise the salary based upon payment frequency.   Its not going to be correct to assume that hourly paid roles are going to do 40 hrs / week.  

I will instead, use the statistics I've found in the following link and work out the salary as follows:

[Average Working Hours \(Statistical Data 2021\)](https://clockify.me/working-hours)

- for Annually paid roles, I'll calculate an hourly rate base upon USA avg hrs / year: 1757, e.g. $100k -> $56 per hour
- for Daily paid roles, I'll calculate an hourly rate base upon 8 hrs / day
- for Hourly paid roles, I'll use the raw data.

This may be me skewed results, for example there _may_ be a role that demands only 5 hours a week but its very well paid.  The employee's real annual wage would be extremely low, but in my calculation this role would be relatively well paid.  I will have to look at the data after applying the proposed formula above.

* Also, there are many hourly and daily paid jobs where the number of hours are not specified in "Hours/Shift"

Maybe these columns have that info:

- Job Description

- Additional Information

But we can see from the samples below that

In [150]:
df.select(["Hours/Shift","Salary Frequency","Job Description","Additional Information"]).\
    where(F.col('Salary Frequency') == 'Hourly').\
    where(F.col('Hours/Shift').isNull()).toPandas()

,Hours/Shift,Salary Frequency,Job Description,Additional Information
0,None,Hourly,Responsibilities of selected candidates will i...,SPECIAL NOTE: 1. This is a temporary assig...
1,None,Hourly,Responsibilities of selected candidates will i...,SPECIAL NOTE: 1. This is a temporary assig...
2,None,Hourly,** 30- 35 Hours Part-time The Office of S...,"Must follow all safety, security, Blood-borne ..."
3,None,Hourly,** 30- 35 Hours Part-time The Office of S...,"Must follow all safety, security, Blood-borne ..."
4,None,Hourly,**30-35 hours/week -Part-time OPEN TO PERMANE...,"Must follow all safety, security, Blood-borne ..."
...,...,...,...,...
136,None,Hourly,The New York City Department of Correction (DO...,None
137,None,Hourly,The New York City Department of Correction (DO...,None
138,None,Hourly,"NYC Parks is the steward of over 30,000 acres ...","Approximate start date: May 15, 2020. Positio..."
139,None,Hourly,"NYC Parks is the steward of over 30,000 acres ...","Approximate start date: May 15, 2020. Positio..."
140,None,Hourly,"NYC Parks is the steward of over 30,000 acres ...","Approximate start date: May 15, 2020. Positio..."

In [156]:
df.select(["Hours/Shift","Salary Frequency","Job Description","Additional Information"]).\
    where(F.col('Salary Frequency') == 'Hourly').\
    where(F.col('Hours/Shift').isNull()).toPandas()

,Hours/Shift,Salary Frequency,Job Description,Additional Information
0,None,Hourly,Responsibilities of selected candidates will i...,SPECIAL NOTE: 1. This is a temporary assig...
1,None,Hourly,Responsibilities of selected candidates will i...,SPECIAL NOTE: 1. This is a temporary assig...
2,None,Hourly,** 30- 35 Hours Part-time The Office of S...,"Must follow all safety, security, Blood-borne ..."
3,None,Hourly,** 30- 35 Hours Part-time The Office of S...,"Must follow all safety, security, Blood-borne ..."
4,None,Hourly,**30-35 hours/week -Part-time OPEN TO PERMANE...,"Must follow all safety, security, Blood-borne ..."
...,...,...,...,...
121,None,Hourly,The New York City Department of Correction (DO...,None
122,None,Hourly,The New York City Department of Correction (DO...,None
123,None,Hourly,"NYC Parks is the steward of over 30,000 acres ...","Approximate start date: May 15, 2020. Positio..."
124,None,Hourly,"NYC Parks is the steward of over 30,000 acres ...","Approximate start date: May 15, 2020. Positio..."
125,None,Hourly,"NYC Parks is the steward of over 30,000 acres ...","Approximate start date: May 15, 2020. Positio..."

In [172]:
df.select(["Hours/Shift","Salary Frequency","Job Description","Additional Information"]).\
    where(F.col('Salary Frequency') == 'Hourly').\
    where(F.col('Hours/Shift').isNull()).count()

126

- look for Job Descriptions that contain specification of the number of hours to work:

Below I have limited the rows to just one to see where I am getting the regex match:

>

The mission of the New York City Police Department is to enhance the quality of life in New York City by working in partnership with the community to enforce the law, preserve peace, protect the people, reduce fear, and maintain order. The NYPD strives to foster a safe and fair city by incorporating Neighborhood Policing into all facets of Department operations, and solve the problems that create crime and disorder through an interdependent relationship between the people and its police, and by pioneering strategic innovation.  The Facilities Management Division, Building Maintenance Section manages the physical operation maintenance and repair of department facilities. The Building Maintenance Section is seeking a Sheet Metal Worker who will responsible for the following:  - Fabricate, erect and repair sheet metal structures such as ducts, metal ceilings, dampers, louvers and roofs;  - Spot welds solder and sweat all forms of sheet metal;  - Develop patterns and templates in fabricating complex shapes and forms.|

And found that my regex is poor at finding what I'm attemping to find, e.g.

- 25 hours
- 40 hrs

etc

Here I've matched the hr in through - but further on I have found that even with this false match, there are many records where we cant use these columns.

In [180]:
df.select(["Job Description"]).\
    where(F.col('Salary Frequency') == 'Daily').\
    where(F.col('Hours/Shift').isNull()).\
    where(F.col("Job Description").rlike("(?i)^.*?hour|hr.*?$")).limit(1).show(truncate=False)

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Job Description                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|The mission of the New York City Police Department is to enhance the quality of life in New York City by working in partnership with the community to enforce the law, preserve peace, protect the people, reduce fear, and maintain order. The NYPD strives to foster a safe and fair city by incorporating Neighborhood Policing into all facets of Department operations, and solve the problems that create crime and disorder through an interdependent relationship between the people and its police, and by pioneering strategic innovation.  The Facilities Management Division, Building Maintenance Section manages the physical operation maintenance and repair of department facilities. The Building Maintenance Section is seeking a Sheet Metal Worker who will responsible for the following:  - Fabricate, erect and repair sheet metal structures such as ducts, metal ceilings, dampers, louvers and roofs;  - Spot welds solder and sweat all forms of sheet metal;  - Develop patterns and templates in fabricating complex shapes and forms.|
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

- look for records where neither Job Descriptions nor Additional Information contain specification of the number of hours to work.

In [177]:
df.select(["Job Description","Additional Information"]).\
    where(F.col('Salary Frequency') == 'Daily').\
    where(F.col('Hours/Shift').isNull()).\
    where(~F.col("Job Description").rlike("(?i)^.*?hour|hr.*?$")).limit(10).\
    where(~F.col("Additional Information").rlike("(?i)^.*?hour|hr.*?$")).count()

5

- so only 5 rows:  It may be possible to get the total number of hours required for all of the others.   Lets take a look at the records more closely nd ssee its its going to be feasible to "grep" out the hours

In [174]:
df.select(["Job Description","Additional Information"]).\
    where(F.col('Salary Frequency') == 'Daily').\
    where(F.col('Hours/Shift').isNull()).\
    where(F.col("Job Description").rlike("(?i)^.*?hour|hr.*?$") | F.col("Additional Information").rlike("(?i)^.*?hour|hr.*?$")).\
    count()

7

##### Conclusion:  It does not seem possible to find the number of hours required for over 100 of the Hourly paid jobs.   Therefore I am to go with my origonal suggested solution of working out all jobs' salaries in Hours.

#### Work Location 1

* Required for data analysis:  No

#### Recruitment Contact

* Required for data analysis:  No

#### Residency Requirement

* Required for data analysis:  No

#### Posting Date

* Required for data analysis:  Yes
    
>  What's the job postings average salary per agency for the last 2 years? 

* Are all dates in the correct format to be cast to date?

These Posting Date values are not null but they also cannot be cast to date:

In [27]:
df.select(["Posting Date"]).\
    where(F.col("Posting Date").cast('date').isNull() & ~F.col("Posting Date").isNull()).count()

1049

In [25]:
df.select(["Posting Date"]).\
    where(F.col("Posting Date").cast('date').isNull() & ~F.col("Posting Date").isNull()).show(30)

+--------------------+
|        Posting Date|
+--------------------+
|New York City res...|
|Apply online with...|
| ""2"" or ""3"" a...|
|New York City Res...|
|New York City Res...|
|  mid-range computer|
| ""2"" or ""3"" a...|
|           help desk|
|The successful ca...|
| all candidates m...|
| ""2"" or ""3"" a...|
|To Apply For Inte...|
| or at least one ...|
| or at least one ...|
| ""2"" or ""3"" a...|
|New York City Res...|
|New York City Res...|
| one year of whic...|
| one year of whic...|
|The successful ca...|
|Ability to code ....|
|Ability to code ....|
|New York City res...|
|New York City res...|
|New York City res...|
|New York City res...|
| all candidates m...|
| all candidates m...|
|New York City res...|
|New York City res...|
+--------------------+
only showing top 30 rows

The following cant simple be cast to date:

In [22]:
df.select(["Posting Date"]).where(F.col("Posting Date").cast('date').isNull()).count()

1566

In [20]:
df.where(F.col("Posting Date").cast('date').isNull()).limit(5).toPandas().transpose()

,0,1,2,3,4
Job ID,87990,132292,132292,137433,151131
Agency,DEPARTMENT OF BUSINESS SERV.,NYC HOUSING AUTHORITY,NYC HOUSING AUTHORITY,DEPT OF HEALTH/MENTAL HYGIENE,NYC HOUSING AUTHORITY
Posting Type,Internal,External,Internal,Internal,External
# Of Positions,1,52,52,1,1
Business Title,Account Manager,Maintenance Worker - Technical Services-Heatin...,Maintenance Worker - Technical Services-Heatin...,Contract Analyst,Cost Estimating Manager
Civil Service Title,CONTRACT REVIEWER (OFFICE OF L,MAINTENANCE WORKER,MAINTENANCE WORKER,PROCUREMENT ANALYST,ADMINISTRATIVE STAFF ANALYST (
Title Code No,40563,90698,90698,12158,1002D
Level,1,0,0,3,0
Job Category,None,Maintenance & Operations,Maintenance & Operations,"Finance, Accounting, & Procurement","Engineering, Architecture, & Planning"
Full-Time/Part-Time indicator,None,F,F,F,F
Salary Range From,42405,51907.68,51907.68,50598,90000
Salary Range To,65485,54580.32,54580.32,85053,110000
Salary Frequency,Annual,Annual,Annual,Annual,Annual
Work Location,110 William St. N Y,Heating Mgt-Operations,Heating Mgt-Operations,42-09 28th Street,CP Cap Plan-Technical Planning
Division/Work Unit,Strategy & Analytics,Management Services Department,Management Services Department,HIV Administration,Capital Planning Dept
Job Description,Division of Economic & Financial Opportunity (...,"Under direct supervision, assist in the routin...","Under direct supervision, assist in the routin...",** OPEN TO PERMANENT PROCUREMENT ANALYSTS ONLY...,Reporting to the Deputy Director of Technical ...
Minimum Qual Requirements,"""1.\tA baccalaureate degree from an accredited...","""1. Three years of full-time satisfactory expe...","""1. Three years of full-time satisfactory expe...","""1. A baccalaureate degree from an accredited ...","""1. A master's degree from an accredited colle..."
Preferred Skills,all candidates must have at least one year of...,mechanical,mechanical,individuals must have,including the 18 months of executive
Additional Information,â€¢\tExcellent interpersonal and organizationa...,or construction trades in a trade school or v...,or construction trades in a trade school or v...,after meeting the minimum requirements,managerial
To Apply,"Salary range for this position is: $42,405 - $...",may be substituted for six months of the expe...,may be substituted for six months of the expe...,either one year served at Assignment Level II...,administrative or supervisory experience
Hours/Shift,None,all candidates must have a minimum of two yea...,all candidates must have a minimum of two yea...,at least one year of which must have been sup...,"as described in """"1"""" above."""
Work Location 1,None,1. A High School Diploma or GED. 2. CDL Dri...,1. A High School Diploma or GED. 2. CDL Dri...,or spent performing professional procurement ...,1. Five years of managerial and supervisory e...
Recruitment Contact,None,1. A Motor Vehicle Driverâ€™s License valid i...,1. A Motor Vehicle Driverâ€™s License valid i...,Strong analytical background; advanced profic...,SPECIAL INSTRUCTIONS FOR NYCHA EMPLOYEES: N...
Residency Requirement,None,"""Click the """"Apply Now"""" button.""","""Click the """"Apply Now"""" button.""",None,"""Click the """"Apply Now"""" button."""
Posting Date,New York City residency is generally required ...,None,None,Apply online with a cover letter to https://a1...,None
Post Until,2011-06-24T00:00:00.000,None,None,None,None
Posting Updated,None,None,None,"42-09 28th Street, Long Island City, NY",None
Process Date,2011-06-24T00:00:00.000,NYCHA has no residency requirements.,NYCHA has no residency requirements.,None,NYCHA has no residency requirements.

In [10]:
df.select(["Posting Date"]).show()

+--------------------+
|        Posting Date|
+--------------------+
|New York City res...|
|2012-01-26T00:00:...|
|                null|
|                null|
|2014-01-09T00:00:...|
|2014-01-09T00:00:...|
|Apply online with...|
|2013-12-20T00:00:...|
|                null|
|2014-06-26T00:00:...|
| ""2"" or ""3"" a...|
|New York City Res...|
|New York City Res...|
|2014-10-09T00:00:...|
|2014-10-09T00:00:...|
|2014-10-08T00:00:...|
|  mid-range computer|
| ""2"" or ""3"" a...|
|2014-11-18T00:00:...|
|           help desk|
+--------------------+
only showing top 20 rows

There are 1566 records that are either null or cant be cast to a date. If I cast to date, all values for corresponding rows where data is not valid will all be null and I dont want that.   For the one query regarding Posting Date I will only include the rows that have valid dates, just for that query.  

With so many records "invalid" it does not make sense to impute a date

#### Post Until

* Required for data analysis:  No

#### Posting Updated

* Required for data analysis:  No

#### Process Date

* Required for data analysis:  No

In [ ]:
df.groupBy('Job Category').count().orderBy('count', ascending=False).limit(10).show()

In [ ]:
df.groupBy('Job Category').max('')

In [ ]:
df.select("Agency").distinct().count()

In [ ]:
df.groupBy('Agency').count().orderBy('count', ascending=False).show()