In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder. \
    appName("pyspark-1"). \
    getOrCreate()

# create data schema

After some failures, I decided not to use a schema, read below for details, or jump to 
[Pivot](#Pivot) where I'm modifying columns post inferSchema

In [4]:
from pyspark.sql.types import StringType,IntegerType,StructField,StructType,DateType,FloatType

df_required_feaures for the following required features

- Agency - string
- Job Category - string
- Salary Range From - float
- Salary Range To - float
- Salary Frequency - string
- Minimum Qual Requirements - string
- Posting Date - should be a date but importing as a string - see [data exploration](./data_exploration.ipynb) for details.

In [12]:
df = spark.read.csv("/dataset/nyc-jobs.csv", header=True)
df.columns

['Job ID',
 'Agency',
 'Posting Type',
 '# Of Positions',
 'Business Title',
 'Civil Service Title',
 'Title Code No',
 'Level',
 'Job Category',
 'Full-Time/Part-Time indicator',
 'Salary Range From',
 'Salary Range To',
 'Salary Frequency',
 'Work Location',
 'Division/Work Unit',
 'Job Description',
 'Minimum Qual Requirements',
 'Preferred Skills',
 'Additional Information',
 'To Apply',
 'Hours/Shift',
 'Work Location 1',
 'Recruitment Contact',
 'Residency Requirement',
 'Posting Date',
 'Post Until',
 'Posting Updated',
 'Process Date']

In [28]:
for c in df.columns:
    print(f'StructField("{c}", StringType(), True),')

StructField("Job ID", StringType(), True),
StructField("Agency", StringType(), True),
StructField("Posting Type", StringType(), True),
StructField("# Of Positions", StringType(), True),
StructField("Business Title", StringType(), True),
StructField("Civil Service Title", StringType(), True),
StructField("Title Code No", StringType(), True),
StructField("Level", StringType(), True),
StructField("Job Category", StringType(), True),
StructField("Full-Time/Part-Time indicator", StringType(), True),
StructField("Salary Range From", StringType(), True),
StructField("Salary Range To", StringType(), True),
StructField("Salary Frequency", StringType(), True),
StructField("Work Location", StringType(), True),
StructField("Division/Work Unit", StringType(), True),
StructField("Job Description", StringType(), True),
StructField("Minimum Qual Requirements", StringType(), True),
StructField("Preferred Skills", StringType(), True),
StructField("Additional Information", StringType(), True),
StructField("To Apply", StringType(), True),
StructField("Hours/Shift", StringType(), True),
StructField("Work Location 1", StringType(), True),
StructField("Recruitment Contact", StringType(), True),
StructField("Residency Requirement", StringType(), True),
StructField("Posting Date", StringType(), True),
StructField("Post Until", StringType(), True),
StructField("Posting Updated", StringType(), True),
StructField("Process Date", StringType(), True),

copy the output and change the types as required

In [14]:
myc_jobs_schema = StructType(fields=[StructField("Job ID", StringType(), True),
                                    StructField("Agency", StringType(), True),
                                    StructField("Posting Type", StringType(), True),
                                    StructField("# Of Positions", StringType(), True),
                                    StructField("Business Title", StringType(), True),
                                    StructField("Civil Service Title", StringType(), True),
                                    StructField("Title Code No", StringType(), True),
                                    StructField("Level", StringType(), True),
                                    StructField("Job Category", StringType(), True),
                                    StructField("Full-Time/Part-Time indicator", StringType(), True),
                                    StructField("Salary Range From", FloatType(), True),
                                    StructField("Salary Range To", FloatType(), True),
                                    StructField("Salary Frequency", StringType(), True),
                                    StructField("Work Location", StringType(), True),
                                    StructField("Division/Work Unit", StringType(), True),
                                    StructField("Job Description", StringType(), True),
                                    StructField("Minimum Qual Requirements", StringType(), True),
                                    StructField("Preferred Skills", StringType(), True),
                                    StructField("Additional Information", StringType(), True),
                                    StructField("To Apply", StringType(), True),
                                    StructField("Hours/Shift", StringType(), True),
                                    StructField("Work Location 1", StringType(), True),
                                    StructField("Recruitment Contact", StringType(), True),
                                    StructField("Residency Requirement", StringType(), True),
                                    StructField("Posting Date", DateType(), True),
                                    StructField("Post Until", StringType(), True),
                                    StructField("Posting Updated", DateType(), True),
                                    StructField("Process Date", DateType(), True)])

In [15]:
df_with_types = spark.read.schema(myc_jobs_schema).csv("/dataset/nyc-jobs.csv", header=True)

In [16]:
df_with_types.printSchema()

root
 |-- Job ID: string (nullable = true)
 |-- Agency: string (nullable = true)
 |-- Posting Type: string (nullable = true)
 |-- # Of Positions: string (nullable = true)
 |-- Business Title: string (nullable = true)
 |-- Civil Service Title: string (nullable = true)
 |-- Title Code No: string (nullable = true)
 |-- Level: string (nullable = true)
 |-- Job Category: string (nullable = true)
 |-- Full-Time/Part-Time indicator: string (nullable = true)
 |-- Salary Range From: float (nullable = true)
 |-- Salary Range To: float (nullable = true)
 |-- Salary Frequency: string (nullable = true)
 |-- Work Location: string (nullable = true)
 |-- Division/Work Unit: string (nullable = true)
 |-- Job Description: string (nullable = true)
 |-- Minimum Qual Requirements: string (nullable = true)
 |-- Preferred Skills: string (nullable = true)
 |-- Additional Information: string (nullable = true)
 |-- To Apply: string (nullable = true)
 |-- Hours/Shift: string (nullable = true)
 |-- Work Location 1: string (nullable = true)
 |-- Recruitment Contact: string (nullable = true)
 |-- Residency Requirement: string (nullable = true)
 |-- Posting Date: date (nullable = true)
 |-- Post Until: string (nullable = true)
 |-- Posting Updated: date (nullable = true)
 |-- Process Date: date (nullable = true)

In [18]:
df_with_types.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
Job ID,2946,384821.5631364562,53075.33897715407,132292,97899
Agency,2946,None,None,ADMIN FOR CHILDREN'S SVCS,TEACHERS RETIREMENT SYSTEM
Posting Type,2946,None,None,External,Internal
# Of Positions,2946,2.4959266802443993,9.281312826466838,1,91
Business Title,2946,None,None,.NET DEVELOPER,executive Vice President for Operations
Civil Service Title,2946,None,None,ACCOUNTANT,YOUTH COORDINATOR (YOUTH SERVI
Title Code No,2946,35558.51334552102,28141.297679769723,0527A,95841
Level,2946,1.0531400966183575,1.1403671232078134,0,M7
Job Category,2944,None,None,Administration & Human Resources,"Technology, Data & Innovation Social Services"
Full-Time/Part-Time indicator,2751,None,None,F,P
Salary Range From,2946,58904.13979079751,26986.57593162361,0.0,218587.0
Salary Range To,2946,85535.71163649892,42871.313462465856,10.36,234402.0
Salary Frequency,2946,None,None,Annual,Hourly
Work Location,2946,None,None,"1 Bay St., S.I.,Ny",Â Tort: Bronx
Division/Work Unit,2946,None,None,10th Precinct - Civilian/Cadet,Zoning
Job Description,2946,None,None,"""NOTE: IT IS IMPORTANT THAT CANDIDATES MUST HA...","â€¢ Under supervision, perform all types of wo..."
Minimum Qual Requirements,2928,None,None,â€¢ The candidate will be expected to gain a...,â€¢ Masterâ€™s degree in business administrati...
Preferred Skills,2687,None,None,â€¢ Performs other related assignments or s...,â€¢The Deputy Chief is expected to be a strate...
Additional Information,2383,None,None,"or """"3"""" above. However",â€œNOTE: This position is open to qualified pe...
To Apply,2766,None,None,"""""2""""",â€¢Extensive experience with CommVault Simpana...
Hours/Shift,1884,None,None,"""""2""""",â€¢General knowledge of NYC hiring practices. ...
Work Location 1,1808,None,None,"""""2""""",â€¢Knowledge of statistics and experience usin...
Recruitment Contact,1183,None,None,Environmental Health,â€¢ Strong written and verbal communication sk...
Residency Requirement,2268,None,None,executive or supervisory capacity. The super...,â€œNOTE: This position is open to qualified pe...
Post Until,1447,None,None,"""""2""""",â€¢ Demonstrated ability to manage the design ...

In [27]:
df_with_types.limit(5).toPandas()

,Job ID,Agency,Posting Type,# Of Positions,Business Title,Civil Service Title,Title Code No,Level,Job Category,Full-Time/Part-Time indicator,...,Additional Information,To Apply,Hours/Shift,Work Location 1,Recruitment Contact,Residency Requirement,Posting Date,Post Until,Posting Updated,Process Date
0,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,97899,DEPARTMENT OF BUSINESS SERV.,Internal,1,"EXECUTIVE DIRECTOR, BUSINESS DEVELOPMENT",ADMINISTRATIVE BUSINESS PROMOT,10009,M3,None,F,...,None,"In addition to applying through this website, ...",None,None,None,New York City residency is generally required ...,2012-01-26,None,2012-01-26,2019-12-17
2,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,133921,NYC HOUSING AUTHORITY,Internal,50,Temporary Painter,PAINTER,91830,0,Maintenance & Operations,F,...,SPECIAL NOTE: 1. This is a temporary assig...,"""Click the """"Apply Now"""" button.""",None,None,None,NYCHA has no residency requirement.,2014-01-09,None,2014-01-08,2019-12-17

#### many rows with Null rows

This has been caused because I was trying to cast the Posting Date as a date and in over 1000 records, this fails
> 
    root
     |-- Agency: string (nullable = true)
     |-- Job Category: string (nullable = true)
     |-- Salary Range From: integer (nullable = true)
     |-- Salary Range To: integer (nullable = true)
     |-- Salary Frequency: string (nullable = true)
     |-- Minimum Qual Requirements: string (nullable = true)
     |-- Posting Date: date (nullable = true) <<<<<<<<<<<<<<<<<<<<<<<<,  

 There are over 1000 records, where I thnk the failure to case to date is resulting in nulls.

In [24]:
import pyspark.sql.functions as F

In [44]:
df_with_types.where(F.col('Job ID').isNull()).show()

+------+------+------------+--------------+--------------+-------------------+-------------+-----+------------+-----------------------------+-----------------+---------------+----------------+-------------+------------------+---------------+-------------------------+----------------+----------------------+--------+-----------+---------------+-------------------+---------------------+------------+----------+---------------+------------+
|Job ID|Agency|Posting Type|# Of Positions|Business Title|Civil Service Title|Title Code No|Level|Job Category|Full-Time/Part-Time indicator|Salary Range From|Salary Range To|Salary Frequency|Work Location|Division/Work Unit|Job Description|Minimum Qual Requirements|Preferred Skills|Additional Information|To Apply|Hours/Shift|Work Location 1|Recruitment Contact|Residency Requirement|Posting Date|Post Until|Posting Updated|Process Date|
+------+------+------------+--------------+--------------+-------------------+-------------+-----+------------+-----------------------------+-----------------+---------------+----------------+-------------+------------------+---------------+-------------------------+----------------+----------------------+--------+-----------+---------------+-------------------+---------------------+------------+----------+---------------+------------+
|  null|  null|        null|          null|          null|               null|         null| null|        null|                         null|             null|           null|            null|         null|              null|           null|                     null|            null|                  null|    null|       null|           null|               null|                 null|        null|      null|           null|        null|
|  null|  null|        null|          null|          null|               null|         null| null|        null|                         null|             null|           null|            null|         null|              null|           null|                     null|            null|                  null|    null|       null|           null|               null|                 null|        null|      null|           null|        null|
|  null|  null|        null|          null|          null|               null|         null| null|        null|                         null|             null|           null|            null|         null|              null|           null|                     null|            null|                  null|    null|       null|           null|               null|                 null|        null|      null|           null|        null|
|  null|  null|        null|          null|          null|               null|         null| null|        null|                         null|             null|           null|            null|         null|              null|           null|                     null|            null|                  null|    null|       null|           null|               null|                 null|        null|      null|           null|        null|
|  null|  null|        null|          null|          null|               null|         null| null|        null|                         null|             null|           null|            null|         null|              null|           null|                     null|            null|                  null|    null|       null|           null|               null|                 null|        null|      null|           null|        null|
|  null|  null|        null|          null|          null|               null|         null| null|        null|                         null|             null|           null|            null|         null|              null|           null|                     null|            null|                  null|    null|       null|           null|               null|                 null|        null|      null|           null|        null|
|  null|  null|        null|          null|          null|               null|         null| null|        null|                         null|             null|           null|            null|         null|              null|           null|                     null|            null|                  null|    null|       null|           null|               null|                 null|        null|      null|           null|        null|
|  null|  null|        null|          null|          null|               null|         null| null|        null|                         null|             null|           null|            null|         null|              null|           null|                     null|            null|                  null|    null|       null|           null|               null|                 null|        null|      null|           null|        null|
|  null|  null|        null|          null|          null|               null|         null| null|        null|                         null|             null|           null|            null|         null|              null|           null|                     null|            null|                  null|    null|       null|           null|               null|                 null|        null|      null|           null|        null|
|  null|  null|        null|          null|          null|               null|         null| null|        null|                         null|             null|           null|            null|         null|              null|           null|                     null|            null|                  null|    null|       null|           null|               null|                 null|        null|      null|           null|        null|
|  null|  null|        null|          null|          null|               null|         null| null|        null|                         null|             null|           null|            null|         null|              null|           null|                     null|            null|                  null|    null|       null|           null|               null|                 null|        null|      null|           null|        null|
|  null|  null|        null|          null|          null|               null|         null| null|        null|                         null|             null|           null|            null|         null|              null|           null|                     null|            null|                  null|    null|       null|           null|               null|                 null|        null|      null|           null|        null|
|  null|  null|        null|          null|          null|               null|         null| null|        null|                         null|             null|           null|            null|         null|              null|           null|                     null|            null|                  null|    null|       null|           null|               null|                 null|        null|      null|           null|        null|
|  null|  null|        null|          null|          null|               null|         null| null|        null|                         null|             null|           null|            null|         null|              null|           null|                     null|            null|                  null|    null|       null|           null|               null|                 null|        null|      null|           null|        null|
|  null|  null|        null|          null|          null|               null|         null| null|        null|                         null|             null|           null|            null|         null|              null|           null|                     null|            null|                  null|    null|       null|           null|               null|                 null|        null|      null|           null|        null|
|  null|  null|        null|          null|          null|               null|         null| null|        null|                         null|             null|           null|            null|         null|              null|           null|                     null|            null|                  null|    null|       null|           null|               null|                 null|        null|      null|           null|        null|
|  null|  null|        null|          null|          null|               null|         null| null|        null|                         null|             null|           null|            null|         null|              null|           null|                     null|            null|                  null|    null|       null|           null|               null|                 null|        null|      null|           null|        null|
|  null|  null|        null|          null|          null|               null|         null| null|        null|                         null|             null|           null|            null|         null|              null|           null|                     null|            null|                  null|    null|       null|           null|               null|                 null|        null|      null|           null|        null|
|  null|  null|        null|          null|          null|               null|         null| null|        null|                         null|             null|           null|            null|         null|              null|           null|                     null|            null|                  null|    null|       null|           null|               null|                 null|        null|      null|           null|        null|
|  null|  null|        null|          null|          null|               null|         null| null|        null|                         null|             null|           null|            null|         null|              null|           null|                     null|            null|                  null|    null|       null|           null|               null|                 null|        null|      null|           null|        null|
+------+------+------------+--------------+--------------+-------------------+-------------+-----+------------+-----------------------------+-----------------+---------------+----------------+-------------+------------------+---------------+-------------------------+----------------+----------------------+--------+-----------+---------------+-------------------+---------------------+------------+----------+---------------+------------+
only showing top 20 rows

In [43]:
df_with_types.select('Posting Date').where(F.col('Job ID').isNull()).show()

+------------+
|Posting Date|
+------------+
|        null|
|        null|
|        null|
|        null|
|        null|
|        null|
|        null|
|        null|
|        null|
|        null|
|        null|
|        null|
|        null|
|        null|
|        null|
|        null|
|        null|
|        null|
|        null|
|        null|
+------------+
only showing top 20 rows

In [20]:
featues = ["Agency", 
           "Job Category",
           "Salary Range From",
           "Salary Range To",
           "Salary Frequency",
           "Minimum Qual Requirements",
           "Posting Date"]

In [38]:
df_required_feaures = df_with_types.select(featues)

In [39]:
df_required_feaures.printSchema()

root
 |-- Agency: string (nullable = true)
 |-- Job Category: string (nullable = true)
 |-- Salary Range From: integer (nullable = true)
 |-- Salary Range To: integer (nullable = true)
 |-- Salary Frequency: string (nullable = true)
 |-- Minimum Qual Requirements: string (nullable = true)
 |-- Posting Date: date (nullable = true)

In [40]:
df_required_feaures.limit(10).toPandas()

,Agency,Job Category,Salary Range From,Salary Range To,Salary Frequency,Minimum Qual Requirements,Posting Date
0,None,None,NaN,NaN,None,None,None
1,DEPARTMENT OF BUSINESS SERV.,None,60740.0,162014.0,Annual,"""1. A baccalaureate degree from an accredited ...",2012-01-26
2,None,None,NaN,NaN,None,None,None
3,None,None,NaN,NaN,None,None,None
4,NYC HOUSING AUTHORITY,Maintenance & Operations,35.0,35.0,Hourly,1. Five years of full-time satisfactory experi...,2014-01-09
5,NYC HOUSING AUTHORITY,Maintenance & Operations,35.0,35.0,Hourly,1. Five years of full-time satisfactory experi...,2014-01-09
6,None,None,NaN,NaN,None,None,None
7,DEPT OF ENVIRONMENT PROTECTION,"Health Public Safety, Inspections, & Enforcement",50623.0,75083.0,Annual,Qualification Requirements A baccalaureate de...,2013-12-20
8,NYC HOUSING AUTHORITY,"Engineering, Architecture, & Planning",90000.0,110000.0,Annual,"""1. A master's degree from an accredited colle...",None
9,LAW DEPARTMENT,Clerical & Administrative Support,30683.0,49707.0,Annual,Qualification Requirements A four-year high s...,2014-06-26

In [47]:
myc_jobs_schema2 = StructType(fields=[StructField("Job ID", StringType(), True),
                                    StructField("Agency", StringType(), True),
                                    StructField("Posting Type", StringType(), True),
                                    StructField("# Of Positions", StringType(), True),
                                    StructField("Business Title", StringType(), True),
                                    StructField("Civil Service Title", StringType(), True),
                                    StructField("Title Code No", StringType(), True),
                                    StructField("Level", StringType(), True),
                                    StructField("Job Category", StringType(), True),
                                    StructField("Full-Time/Part-Time indicator", StringType(), True),
                                    StructField("Salary Range From", FloatType(), True),
                                    StructField("Salary Range To", FloatType(), True),
                                    StructField("Salary Frequency", StringType(), True),
                                    StructField("Work Location", StringType(), True),
                                    StructField("Division/Work Unit", StringType(), True),
                                    StructField("Job Description", StringType(), True),
                                    StructField("Minimum Qual Requirements", StringType(), True),
                                    StructField("Preferred Skills", StringType(), True),
                                    StructField("Additional Information", StringType(), True),
                                    StructField("To Apply", StringType(), True),
                                    StructField("Hours/Shift", StringType(), True),
                                    StructField("Work Location 1", StringType(), True),
                                    StructField("Recruitment Contact", StringType(), True),
                                    StructField("Residency Requirement", StringType(), True),
                                    StructField("Posting Date", StringType(), True),
                                    StructField("Post Until", StringType(), True),
                                    StructField("Posting Updated", StringType(), True),
                                    StructField("Process Date", StringType(), True)])

In [48]:
df_with_types2 = spark.read.schema(myc_jobs_schema).csv("/dataset/nyc-jobs.csv", header=True)

In [49]:
df_with_types2.printSchema()

root
 |-- Job ID: string (nullable = true)
 |-- Agency: string (nullable = true)
 |-- Posting Type: string (nullable = true)
 |-- # Of Positions: string (nullable = true)
 |-- Business Title: string (nullable = true)
 |-- Civil Service Title: string (nullable = true)
 |-- Title Code No: string (nullable = true)
 |-- Level: string (nullable = true)
 |-- Job Category: string (nullable = true)
 |-- Full-Time/Part-Time indicator: string (nullable = true)
 |-- Salary Range From: float (nullable = true)
 |-- Salary Range To: float (nullable = true)
 |-- Salary Frequency: string (nullable = true)
 |-- Work Location: string (nullable = true)
 |-- Division/Work Unit: string (nullable = true)
 |-- Job Description: string (nullable = true)
 |-- Minimum Qual Requirements: string (nullable = true)
 |-- Preferred Skills: string (nullable = true)
 |-- Additional Information: string (nullable = true)
 |-- To Apply: string (nullable = true)
 |-- Hours/Shift: string (nullable = true)
 |-- Work Location 1: string (nullable = true)
 |-- Recruitment Contact: string (nullable = true)
 |-- Residency Requirement: string (nullable = true)
 |-- Posting Date: date (nullable = true)
 |-- Post Until: string (nullable = true)
 |-- Posting Updated: date (nullable = true)
 |-- Process Date: date (nullable = true)

In [58]:
df_with_types2.select("*").where(F.col('Job ID').isNull()).toPandas()

,Job ID,Agency,Posting Type,# Of Positions,Business Title,Civil Service Title,Title Code No,Level,Job Category,Full-Time/Part-Time indicator,...,Additional Information,To Apply,Hours/Shift,Work Location 1,Recruitment Contact,Residency Requirement,Posting Date,Post Until,Posting Updated,Process Date
0,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1317,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1318,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1319,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1320,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1321,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

still loads of Nulls

In [60]:
df_with_types2.select('Agency').where(F.col('Job ID').isNull()).count()

0

In [62]:
     
df_with_types2.where(F.col('Job ID').isNull() | F.isnan(F.col('Job ID'))).count()

0

In [66]:
df_with_types2.select(F.count( F.when(F.col('Job ID').isNull() | F.isnan(F.col('Job ID')),F.col('Job ID') )  ) ).show()

+--------------------------------------------------------------------+
|count(CASE WHEN ((Job ID IS NULL) OR isnan(Job ID)) THEN Job ID END)|
+--------------------------------------------------------------------+
|                                                                   0|
+--------------------------------------------------------------------+

# Pivot

I obviously am not fully understanding what is going wrong with the schema.  So I'll admit there's a area I need to brush up on / seek advice.   

So to allow me to continue the assessment, I use inferSchema and convert any columns that are not the type I need when I need to, plus some engineering to create the required columns.  Alos, I reduce the df as soon as possible, to only the features that are required.

In [3]:
df = spark.read.csv("/dataset/nyc-jobs.csv", header=True, inferSchema=True)

In [4]:
features = ["Agency", 
           "Job Category",
           "Salary Range From",
           "Salary Range To",
           "Salary Frequency",
           "Minimum Qual Requirements",
           "Posting Date"]

In [5]:
df1 = df.select(features)

In [6]:
df1.printSchema()

root
 |-- Agency: string (nullable = true)
 |-- Job Category: string (nullable = true)
 |-- Salary Range From: double (nullable = true)
 |-- Salary Range To: double (nullable = true)
 |-- Salary Frequency: string (nullable = true)
 |-- Minimum Qual Requirements: string (nullable = true)
 |-- Posting Date: string (nullable = true)

### Feature Engineering

- Salary 

    - Required: a function to derive a salary based on "Salary Range From", "Salary Range To" and "Salary Frequency"
        The resultant salary must be in the same units across each "Salary Frequency" so that a comparison can be made


- Minimum Qual Requirements 

    - Required: a function to extrapolate any qualification specification.  I may end up having a simply flag:  required_degree: boolean
   
   
- Posting Date - only about half of the records have a valid data in this field

## Salary

Required: derive a salary based on "Salary Range From", "Salary Range To" and "Salary Frequency" The resultant salary must be in the same units across each "Salary Frequency" so that a comparison can be made

In [7]:
from pyspark.sql.functions import col,expr

when "Salary Range From" is not null and not 0, then calculate the midrange salary, i.e. sal = (min + (max - min)/2)
 otherwise use "Salary Range To"

In [111]:
df1.filter(col("Salary Range From").cast('int') == 0).count()

16

In [112]:
df1.filter(~col("Salary Range From").isNull()).filter(col("Salary Range From") > 0).count()

2930

In [113]:
df1.count()

2946

I had to rename the columns and remove the spaces otherwise the expr saw the 
column as a string.

So this didn't work:

`
    df2 = df.withColumn("Hourly Salary mixed freq",
                    expr("""
                        case                              
                             when 
                                'Salary Range From' is null
                             then 'Salary Range To'
                             when 
                                 'Salary Range From' == 0
                             then 'Salary Range To'
                             else
                                 'Salary Range From' + ('Salary Range To' - 'Salary Range From')/2
                        end
                    """
                    ))
`

In [ ]:
from pyspark.sql import DataFrame,Column

In [123]:
df2 = df1.withColumnRenamed('Salary Range From','SalaryRangeFrom'). \
         withColumnRenamed('Salary Range To','SalaryRangeTo'). \
         withColumn("SalaryMixedFreq",
                    expr("""
                        case                              
                             when 
                                SalaryRangeFrom is null
                             then SalaryRangeTo
                             when 
                                 SalaryRangeFrom == 0
                             then SalaryRangeTo
                             else
                                 SalaryRangeFrom + (SalaryRangeTo - SalaryRangeFrom)/2
                        end
                    """
                    )). \
         withColumnRenamed("Salary Frequency","SalaryFrequency"). \
         withColumn("HourlySalary",
                    expr("""
                        case
                            when 
                                SalaryFrequency == "Hourly"
                            then SalaryMixedFreq
                            when
                                SalaryFrequency == "Daily"
                            then
                                round(SalaryMixedFreq / 8,2)
                            else
                                round(SalaryMixedFreq / 1757,2)
                        end
                   """
                   ))

In [124]:
df2.select(["SalaryRangeFrom","SalaryRangeTo","SalaryMixedFreq","HourlySalary"]).limit(10).toPandas()

   SalaryRangeFrom  SalaryRangeTo  SalaryMixedFreq  HourlySalary
0         42405.00       65485.00          53945.0         30.70
1         60740.00      162014.00         111377.0         63.39
2         51907.68       54580.32          53244.0         30.30
3         51907.68       54580.32          53244.0         30.30
4            35.00          35.00             35.0         35.00
5            35.00          35.00             35.0         35.00
6         50598.00       85053.00          67825.5         38.60
7         50623.00       75083.00          62853.0         35.77
8         90000.00      110000.00         100000.0         56.92
9         30683.00       49707.00          40195.0         22.88

Test above case

In [95]:
from pyspark.sql.types import StructType,StructField,DoubleType,StringType

In [176]:
print(f"{700 / 8}")

87.5

In [177]:
# probably better to seratate test data with source data, but for
# simplicity I'll save the csv in teh same location:

import sys
with open("/dataset/test_salary_data.csv","w") as f:
    f.write("""
SalaryRangeFrom,SalaryRangeTo,SalaryFrequency,ExpectedSalaryMixedFreq,ExpectedHourlySalary
,10,"Hourly",10,10
0,10,"Hourly",10,10
5,10,"Hourly",7.5,7.5
,800,"Daily",800,10
0,800,"Daily",800,10
600,800,"Daily",700,87.5
0,100000,"Annual",100000,56.92
,100000,"Annual",100000,56.92
80000,100000,"Annual",90000,51.22
""")

In [178]:
test_df = spark.read.csv("/dataset/test_salary_data.csv",header=True)

In [179]:
test_df.show()

+---------------+-------------+---------------+-----------------------+--------------------+
|SalaryRangeFrom|SalaryRangeTo|SalaryFrequency|ExpectedSalaryMixedFreq|ExpectedHourlySalary|
+---------------+-------------+---------------+-----------------------+--------------------+
|           null|           10|         Hourly|                     10|                  10|
|              0|           10|         Hourly|                     10|                  10|
|              5|           10|         Hourly|                    7.5|                 7.5|
|           null|          800|          Daily|                    800|                  10|
|              0|          800|          Daily|                    800|                  10|
|            600|          800|          Daily|                    700|                87.5|
|              0|       100000|         Annual|                 100000|               56.92|
|           null|       100000|         Annual|                 100000|               56.92|
|          80000|       100000|         Annual|                  90000|               51.22|
+---------------+-------------+---------------+-----------------------+--------------------+

In [180]:
test_df2 = test_df.withColumn("SalaryMixedFreq",
                    expr("""
                        case                              
                             when 
                                SalaryRangeFrom is null
                             then SalaryRangeTo
                             when 
                                 SalaryRangeFrom == 0
                             then SalaryRangeTo
                             else
                                 SalaryRangeFrom + (SalaryRangeTo - SalaryRangeFrom)/2
                        end
                    """
                    )). \
         withColumn("HourlySalary",
                    expr("""
                        case
                            when 
                                SalaryFrequency == "Hourly"
                            then SalaryMixedFreq
                            when
                                SalaryFrequency == "Daily"
                            then
                                round(SalaryMixedFreq / 8,2)
                            else
                                round(SalaryMixedFreq / 1757,2)
                        end
                   """
                   ))

In [181]:
test_df2.show()

+---------------+-------------+---------------+-----------------------+--------------------+---------------+------------+
|SalaryRangeFrom|SalaryRangeTo|SalaryFrequency|ExpectedSalaryMixedFreq|ExpectedHourlySalary|SalaryMixedFreq|HourlySalary|
+---------------+-------------+---------------+-----------------------+--------------------+---------------+------------+
|           null|           10|         Hourly|                     10|                  10|             10|          10|
|              0|           10|         Hourly|                     10|                  10|             10|          10|
|              5|           10|         Hourly|                    7.5|                 7.5|            7.5|         7.5|
|           null|          800|          Daily|                    800|                  10|            800|       100.0|
|              0|          800|          Daily|                    800|                  10|            800|       100.0|
|            600|          800|          Daily|                    700|                87.5|          700.0|        87.5|
|              0|       100000|         Annual|                 100000|               56.92|         100000|       56.92|
|           null|       100000|         Annual|                 100000|               56.92|         100000|       56.92|
|          80000|       100000|         Annual|                  90000|               51.22|        90000.0|       51.22|
+---------------+-------------+---------------+-----------------------+--------------------+---------------+------------+

In [182]:
test_df2.withColumn("Test1",expr("""
                              case
                                  when (ExpectedSalaryMixedFreq * 1.0) == (SalaryMixedFreq * 1.0) then "PASS"
                              else 
                                  "FAIL"
                              end
                              """)).\
        withColumn("Test2",expr("""
                            case
                                when (ExpectedHourlySalary * 1.0) == (HourlySalary * 1.0) then "PASS"
                            else
                                "FAIL"
                            end
                            """)).toPandas()

,SalaryRangeFrom,SalaryRangeTo,SalaryFrequency,ExpectedSalaryMixedFreq,ExpectedHourlySalary,SalaryMixedFreq,HourlySalary,Test1,Test2
0,None,10,Hourly,10,10,10,10,PASS,PASS
1,0,10,Hourly,10,10,10,10,PASS,PASS
2,5,10,Hourly,7.5,7.5,7.5,7.5,PASS,PASS
3,None,800,Daily,800,10,800,100.0,PASS,FAIL
4,0,800,Daily,800,10,800,100.0,PASS,FAIL
5,600,800,Daily,700,87.5,700.0,87.5,PASS,PASS
6,0,100000,Annual,100000,56.92,100000,56.92,PASS,PASS
7,None,100000,Annual,100000,56.92,100000,56.92,PASS,PASS
8,80000,100000,Annual,90000,51.22,90000.0,51.22,PASS,PASS

In [223]:
!ls ..

app  boot     dev  home  lib64	mnt	  opt	root  sbin  sys  usr	var
bin  dataset  etc  lib	 media	notebook  proc	run   srv   tmp  utils

In [224]:
import sys; 
sys.path.insert(0, '..')

In [241]:
from utils import udf_functions as UDF

In [243]:
help(UDF.get_SalaryMixedFreq)

Help on function get_SalaryMixedFreq in module utils.udf_functions:

get_SalaryMixedFreq(df: pyspark.sql.dataframe.DataFrame) -> float
    Description:

    Create SalaryMixedFreq Column as follows:
        When "Salary Range From" is not null and not 0, then calculate the midrange salary, i.e. sal = (min + (max - min)/2)
        else use "Salary Range To" as the salary

    :param df: input dataframe
    :return: SalaryMixedFreq

# TESTING by copying the function in line here to remove utils from the error msgm

In [8]:
from pyspark.sql import DataFrame

def get_SalaryMixedFreq(SalaryRangeFrom, SalaryRangeTo) -> float:
    """
        Description:
    
        Create SalaryMixedFreq Column as follows:
            When "Salary Range From" is not null and not 0, then calculate the midrange salary, i.e. sal = (min + (max - min)/2)
            else use "Salary Range To" as the salary

        :param SalaryRangeFrom:
        :param SalaryRangeTo:
        :return: SalaryMixedFreq

    """
    return_df = df.withColumn("SalaryMixedFreq",
                                expr("""
                                    case                              
                                        when 
                                            SalaryRangeFrom is null
                                        then SalaryRangeTo
                                        when 
                                            SalaryRangeFrom == 0
                                        then SalaryRangeTo
                                        else
                                            SalaryRangeFrom + (SalaryRangeTo - SalaryRangeFrom)/2
                                    end
                                """
                                ))
    return return_df("SalaryMixedFreq")

In [9]:
from pyspark.sql.functions import udf
from pyspark.sql.types import FloatType

In [10]:
get_SalaryMixedFreq_udf=udf(get_SalaryMixedFreq,FloatType())

In [11]:
df3 = df1.withColumn("SalaryMixedFreq",
                     get_SalaryMixedFreq_udf(
                         col('Salary Range From'),
                         col('Salary Range To')
                     ))

Traceback (most recent call last):
  File "/opt/spark/python/pyspark/serializers.py", line 597, in dumps
    return cloudpickle.dumps(obj, 2)
  File "/opt/spark/python/pyspark/cloudpickle.py", line 863, in dumps
    cp.dump(obj)
  File "/opt/spark/python/pyspark/cloudpickle.py", line 260, in dump
    return Pickler.dump(self, obj)
  File "/usr/lib/python3.7/pickle.py", line 437, in dump
    self.save(obj)
  File "/usr/lib/python3.7/pickle.py", line 504, in save
    f(self, obj) # Call unbound method with explicit self
  File "/usr/lib/python3.7/pickle.py", line 771, in save_tuple
    save(element)
  File "/usr/lib/python3.7/pickle.py", line 504, in save
    f(self, obj) # Call unbound method with explicit self
  File "/opt/spark/python/pyspark/cloudpickle.py", line 400, in save_function
    self.save_function_tuple(obj)
  File "/opt/spark/python/pyspark/cloudpickle.py", line 549, in save_function_tuple
    save(state)
  File "/usr/lib/python3.7/pickle.py", line 504, in save
    f(self, obj) # Call unbound method with explicit self
  File "/usr/lib/python3.7/pickle.py", line 856, in save_dict
    self._batch_setitems(obj.items())
  File "/usr/lib/python3.7/pickle.py", line 882, in _batch_setitems
    save(v)
  File "/usr/lib/python3.7/pickle.py", line 504, in save
    f(self, obj) # Call unbound method with explicit self
  File "/usr/lib/python3.7/pickle.py", line 856, in save_dict
    self._batch_setitems(obj.items())
  File "/usr/lib/python3.7/pickle.py", line 882, in _batch_setitems
    save(v)
  File "/usr/lib/python3.7/pickle.py", line 549, in save
    self.save_reduce(obj=obj, *rv)
  File "/usr/lib/python3.7/pickle.py", line 662, in save_reduce
    save(state)
  File "/usr/lib/python3.7/pickle.py", line 504, in save
    f(self, obj) # Call unbound method with explicit self
  File "/usr/lib/python3.7/pickle.py", line 856, in save_dict
    self._batch_setitems(obj.items())
  File "/usr/lib/python3.7/pickle.py", line 882, in _batch_setitems
    save(v)
  File "/usr/lib/python3.7/pickle.py", line 524, in save
    rv = reduce(self.proto)
  File "/opt/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1257, in __call__
    answer, self.gateway_client, self.target_id, self.name)
  File "/opt/spark/python/pyspark/sql/utils.py", line 63, in deco
    return f(*a, **kw)
  File "/opt/spark/python/lib/py4j-0.10.7-src.zip/py4j/protocol.py", line 332, in get_return_value
    format(target_id, ".", name, value))
py4j.protocol.Py4JError: An error occurred while calling o32.__getstate__. Trace:
py4j.Py4JException: Method __getstate__([]) does not exist
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:318)
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:326)
	at py4j.Gateway.invoke(Gateway.java:274)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)

PicklingError: Could not serialize object: Py4JError: An error occurred while calling o32.__getstate__. Trace:
py4j.Py4JException: Method __getstate__([]) does not exist
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:318)
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:326)
	at py4j.Gateway.invoke(Gateway.java:274)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)

In [247]:
df3.limit(10).toPandas()

Py4JJavaError: An error occurred while calling o1733.collectToPython.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 97.0 failed 4 times, most recent failure: Lost task 0.3 in stage 97.0 (TID 193, 172.19.0.4, executor 1): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/opt/spark/python/lib/pyspark.zip/pyspark/worker.py", line 366, in main
    func, profiler, deserializer, serializer = read_udfs(pickleSer, infile, eval_type)
  File "/opt/spark/python/lib/pyspark.zip/pyspark/worker.py", line 241, in read_udfs
    arg_offsets, udf = read_single_udf(pickleSer, infile, eval_type, runner_conf)
  File "/opt/spark/python/lib/pyspark.zip/pyspark/worker.py", line 168, in read_single_udf
    f, return_type = read_command(pickleSer, infile)
  File "/opt/spark/python/lib/pyspark.zip/pyspark/worker.py", line 69, in read_command
    command = serializer._read_with_length(file)
  File "/opt/spark/python/lib/pyspark.zip/pyspark/serializers.py", line 173, in _read_with_length
    return self.loads(obj)
  File "/opt/spark/python/lib/pyspark.zip/pyspark/serializers.py", line 587, in loads
    return pickle.loads(obj, encoding=encoding)
ModuleNotFoundError: No module named 'utils'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:456)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:81)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:64)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:410)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$12.hasNext(Iterator.scala:440)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$13$$anon$1.hasNext(WholeStageCodegenExec.scala:636)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:255)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:247)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:858)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:858)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:346)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:310)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:346)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:310)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:123)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1891)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1879)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1878)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1878)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:927)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:927)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:927)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2112)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2061)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2050)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:738)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2061)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2082)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2101)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:365)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:38)
	at org.apache.spark.sql.Dataset$$anonfun$collectToPython$1.apply(Dataset.scala:3263)
	at org.apache.spark.sql.Dataset$$anonfun$collectToPython$1.apply(Dataset.scala:3260)
	at org.apache.spark.sql.Dataset$$anonfun$52.apply(Dataset.scala:3370)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:80)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:127)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:75)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3369)
	at org.apache.spark.sql.Dataset.collectToPython(Dataset.scala:3260)
	at sun.reflect.GeneratedMethodAccessor128.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/opt/spark/python/lib/pyspark.zip/pyspark/worker.py", line 366, in main
    func, profiler, deserializer, serializer = read_udfs(pickleSer, infile, eval_type)
  File "/opt/spark/python/lib/pyspark.zip/pyspark/worker.py", line 241, in read_udfs
    arg_offsets, udf = read_single_udf(pickleSer, infile, eval_type, runner_conf)
  File "/opt/spark/python/lib/pyspark.zip/pyspark/worker.py", line 168, in read_single_udf
    f, return_type = read_command(pickleSer, infile)
  File "/opt/spark/python/lib/pyspark.zip/pyspark/worker.py", line 69, in read_command
    command = serializer._read_with_length(file)
  File "/opt/spark/python/lib/pyspark.zip/pyspark/serializers.py", line 173, in _read_with_length
    return self.loads(obj)
  File "/opt/spark/python/lib/pyspark.zip/pyspark/serializers.py", line 587, in loads
    return pickle.loads(obj, encoding=encoding)
ModuleNotFoundError: No module named 'utils'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:456)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:81)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:64)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:410)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$12.hasNext(Iterator.scala:440)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$13$$anon$1.hasNext(WholeStageCodegenExec.scala:636)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:255)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:247)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:858)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:858)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:346)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:310)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:346)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:310)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:123)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more