#### FYI: Abandoned experiments, learnings etc can be found here:
[pre_processing_and_wrangling - experiments and leaning](pre_processing_and_wrangling%20-%20experiments%20and%20leaning.ipynb)

In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder. \
    appName("pyspark-1"). \
    getOrCreate()

In [38]:
df = spark.read.csv("/dataset/dedupd_df.csv",header=True,inferSchema=True)

In [39]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Job ID: integer (nullable = true)
 |-- Agency: string (nullable = true)
 |-- Posting Type: string (nullable = true)
 |-- # Of Positions: integer (nullable = true)
 |-- Business Title: string (nullable = true)
 |-- Civil Service Title: string (nullable = true)
 |-- Title Code No: string (nullable = true)
 |-- Level: string (nullable = true)
 |-- Job Category: string (nullable = true)
 |-- Full-Time/Part-Time indicator: string (nullable = true)
 |-- Salary Range From: double (nullable = true)
 |-- Salary Range To: double (nullable = true)
 |-- Salary Frequency: string (nullable = true)
 |-- Work Location: string (nullable = true)
 |-- Division/Work Unit: string (nullable = true)
 |-- Job Description: string (nullable = true)
 |-- Minimum Qual Requirements: string (nullable = true)
 |-- Preferred Skills: string (nullable = true)
 |-- Additional Information: string (nullable = true)
 |-- To Apply: string (nullable = true)
 |-- Hours/Shift: string (nullable = true)
 |-- Work Location 1: string (nullable = true)
 |-- Recruitment Contact: string (nullable = true)
 |-- Residency Requirement: string (nullable = true)
 |-- Posting Date: string (nullable = true)
 |-- Post Until: string (nullable = true)
 |-- Posting Updated: string (nullable = true)
 |-- Process Date: string (nullable = true)

In [40]:
featues = ["Job ID",
           "Agency", 
           "Job Category",
           "Salary Range From",
           "Salary Range To",
           "Salary Frequency",
           "Minimum Qual Requirements",
           "Posting Date",
           "Preferred Skills"]

In [41]:
df_required_feaures = df.select(featues)
df = None

In [42]:
df_required_feaures.printSchema()

root
 |-- Job ID: integer (nullable = true)
 |-- Agency: string (nullable = true)
 |-- Job Category: string (nullable = true)
 |-- Salary Range From: double (nullable = true)
 |-- Salary Range To: double (nullable = true)
 |-- Salary Frequency: string (nullable = true)
 |-- Minimum Qual Requirements: string (nullable = true)
 |-- Posting Date: string (nullable = true)
 |-- Preferred Skills: string (nullable = true)

In [43]:
df_required_feaures.limit(5).toPandas().transpose()

,0,1,2,3,4
Job ID,239052,311799,339370,400075,406297
Agency,ADMIN FOR CHILDREN'S SVCS,DEPARTMENT OF TRANSPORTATION,ADMIN FOR CHILDREN'S SVCS,ADMIN FOR CHILDREN'S SVCS,DEPT OF INFO TECH & TELECOMM
Job Category,Community & Business Services Social Services,Building Operations & Maintenance,Legal Affairs,"Technology, Data & Innovation","Technology, Data & Innovation Policy, Research..."
Salary Range From,48895,373.03,51315,82884,69940
Salary Range To,75900,373.03,54720,106786,130000
Salary Frequency,Annual,Daily,Annual,Annual,Annual
Minimum Qual Requirements,"""""""1. A baccalaureate degree from an accredite...",(1) Five years of full-time satisfactory exper...,1. A baccalaureate degree from an accredited c...,"""""""(1) A baccalaureate degree from an accredit...","""""""1. A baccalaureate degree from an accredite..."
Posting Date,New York City residency is generally required ...,2017-11-01T00:00:00.000,2018-03-27T00:00:00.000,systems analysis and design,None
Preferred Skills,""" all candidates must have at least one year o...",None,Preferred candidate has significate child prot...,including or supplemented by twenty-four (24)...,of supervisory or administrative experience i...

### Feature Engineering

- Salary 

    - Required: a function to derive a salary based on "Salary Range From", "Salary Range To" and "Salary Frequency"
        The resultant salary must be in the same units across each "Salary Frequency" so that a comparison can be made


- Minimum Qual Requirements 

    - Required: a function to extrapolate any qualification specification.  I may end up having a simply flag:  required_degree: boolean
   
   
- Posting Date - only about half of the records have a valid data in this field

## Salary

Required: derive a salary based on "Salary Range From", "Salary Range To" and "Salary Frequency" The resultant salary must be in the same units across each "Salary Frequency" so that a comparison can be made

In [44]:
from pyspark.sql.functions import col,regexp_extract

In [45]:
import sys
sys.path.insert(0,'../utils')

In [46]:
import importlib

#### PLEASE NOTE
get_HourlySalaryUDF was tested here [get_HourlySalaryUDF](test%20UDF%20functions.ipynb#test_get_HourlySalaryUDF)

In [47]:
import udf_functions as UDF

In [48]:
help(UDF.get_HourlySalaryUDF)

Help on function get_HourlySalaryUDF in module udf_functions:

get_HourlySalaryUDF(SalaryRangeFrom, SalaryRangeTo, SalaryFrequency) -> float
    Description:

    Santity checks of accidental From To swapping:
        if SalaryRangeFrom > SalaryRangeTo
            then swap the values.

    Calculate SalaryMixedFreq as follows:
        if "Salary Range From" is not null and not 0, then calculate
            midrange salary, i.e. sal = (min + (max - min)/2)
        else
            use "Salary Range To" as the salary
        If SalaryRangeTo is not defined or 0 return None

    Calculate HourlySalary as follows:

       SalaryMixedFreq will be the yearly salary, Daily salary or
       hourly salary depending on "Salary Frequency"
       Calculate HourlySalary based on "Salary Frequency":
       1 - "Hourly": set HourlySalary = SalaryMixedFreq
       2 - "Daily":  set HourlySalary = SalaryMixedFreq / 8 rounded to 2 dec places
       3 - "Annual": set HourlySalary = SalaryMixedFreq / 1757 rounded to 2 dec places

    :param SalaryRangeFrom: col value of "Salary Range From"
    :param SalaryRangeTo" col value of "Salary Range To"
    :param SalaryFrequency" col value of "Salary Frequency"

    :return: HourlySalary as float

In [49]:
df_salary = df_required_feaures.withColumn("HourlySalary",
                                 UDF.get_HourlySalaryUDF(
                                            col('Salary Range From'),
                                            col('Salary Range To'),
                                            col('Salary Frequency')
                                        )
                                     )

In [54]:
df_required_feaures = None

In [51]:
df_salary.limit(10).toPandas()

,Job ID,Agency,Job Category,Salary Range From,Salary Range To,Salary Frequency,Minimum Qual Requirements,Posting Date,Preferred Skills,HourlySalary
0,239052,ADMIN FOR CHILDREN'S SVCS,Community & Business Services Social Services,48895.00,75900.00,Annual,"""""""1. A baccalaureate degree from an accredite...",New York City residency is generally required ...,""" all candidates must have at least one year o...",35.509998
1,311799,DEPARTMENT OF TRANSPORTATION,Building Operations & Maintenance,373.03,373.03,Daily,(1) Five years of full-time satisfactory exper...,2017-11-01T00:00:00.000,None,46.630001
2,339370,ADMIN FOR CHILDREN'S SVCS,Legal Affairs,51315.00,54720.00,Annual,1. A baccalaureate degree from an accredited c...,2018-03-27T00:00:00.000,Preferred candidate has significate child prot...,30.180000
3,400075,ADMIN FOR CHILDREN'S SVCS,"Technology, Data & Innovation",82884.00,106786.00,Annual,"""""""(1) A baccalaureate degree from an accredit...",systems analysis and design,including or supplemented by twenty-four (24)...,53.980000
4,406297,DEPT OF INFO TECH & TELECOMM,"Technology, Data & Innovation Policy, Research...",69940.00,130000.00,Annual,"""""""1. A baccalaureate degree from an accredite...",None,of supervisory or administrative experience i...,56.900002
5,406575,DEPT OF INFO TECH & TELECOMM,"Technology, Data & Innovation",75000.00,120000.00,Annual,"""""""1. A baccalaureate degree from an accredite...",2019-09-30T00:00:00.000,The preferred candidate should possess the fol...,55.490002
6,409339,OFFICE OF MANAGEMENT & BUDGET,"Finance, Accounting, & Procurement Legal Affai...",114379.00,114379.00,Annual,1. A baccalaureate degree from an accredited c...,2019-08-28T00:00:00.000,QUALIFICATIONS: â€¢\tAbility to provide hands...,65.099998
7,425665,HRA/DEPT OF SOCIAL SERVICES,"Policy, Research & Analysis Social Services",60435.00,115000.00,Annual,"""""""1. A master's degree from an accredited col...",industrial psychology,finance,49.919998
8,233549,NYC EMPLOYEES RETIREMENT SYS,Information Technology & Telecommunications,87203.00,131623.00,Annual,"""""""Professional/vendor certification(s) in loc...",integration,all candidates must have the following: 1. A...,62.270000
9,277372,DEPT OF ENVIRONMENT PROTECTION,"Engineering, Architecture, & Planning Technolo...",47974.00,55170.00,Annual,1. A baccalaureate degree from an accredited c...,2017-01-09T00:00:00.000,"â€¢\tExperience in the planning, layout and de...",29.350000

# Minimum Qual Requirements

Required: a function to extrapolate any qualification specification. I may end up having a simply flag: required_degree: boolean

I have used [List of Degrees: Most Popular Degree Programs by Level](https://bestaccreditedcolleges.org/articles/list-of-degrees.html) as my reference

**NOTE1**: get_degreeUDF was tested [here](test%20UDF%20functions.ipynb#test_get_degreeUDF)

**NOTE2**: get_degreeUDF sets "not_specified" when 'Minimum Qual Requirements' is Null

Call UDF get_degreeUDF(MinimumQualRequirements) to get the higher qualification requirements if found creating new column 
- "Higher Degree"

In [52]:
importlib.reload(UDF)
df_salary_degree = df_salary.withColumn("Higher Degree",
                                 UDF.get_degreeUDF(
                                            col('Minimum Qual Requirements')
                                        )
                                     )
df_salary = None

In [55]:
df_salary_degree.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
Job ID,1661,383594.9331727875,55442.69628987496,87990,426238
Agency,1661,None,None,ADMIN FOR CHILDREN'S SVCS,TEACHERS RETIREMENT SYSTEM
Job Category,1659,None,None,Administration & Human Resources,"Technology, Data & Innovation Social Services"
Salary Range From,1661,58836.501277965086,26392.114682422838,0.0,218587.0
Salary Range To,1661,85387.93789482239,42041.27995414807,10.36,234402.0
Salary Frequency,1661,None,None,Annual,Hourly
Minimum Qual Requirements,1652,None,None,AND TAKE AND PASS THE EXAM FOR THE CIVIL SERV...,â€¢ Masterâ€™s degree in business administrati...
Posting Date,1518,32.0625,52.07558867150587,3. A satisfactory combination of education a...,â€¢Hands-on experience in developing large Int...
Preferred Skills,1530,None,None,2.\tAn associate degree from an accredited c...,â€¢Relevant experience in the construction ind...
HourlySalary,1661,43.62527401170266,15.141683499318422,9.55,124.41
Higher Degree,1661,None,None,Associate,not_specified

<a id='job_category'></a>


# Job Category

- there are 2 missing Job Catergory's

For these I will set to "Not Specified"

In [56]:
from pyspark.sql.functions import col,regexp_extract

In [57]:
df_salary_degree.select('Job Category').distinct().count()

131

In [58]:
df_salary_degree.where(col('Job Category').isNull()).count()

2

In [59]:
df_salary_degree.where(col('Job Category').isNull()).show()

+------+--------------------+------------+-----------------+---------------+----------------+-------------------------+--------------------+--------------------+------------+-------------+
|Job ID|              Agency|Job Category|Salary Range From|Salary Range To|Salary Frequency|Minimum Qual Requirements|        Posting Date|    Preferred Skills|HourlySalary|Higher Degree|
+------+--------------------+------------+-----------------+---------------+----------------+-------------------------+--------------------+--------------------+------------+-------------+
| 97899|DEPARTMENT OF BUS...|        null|          60740.0|       162014.0|          Annual|     """1. A baccalaur...|                null| of supervisory o...|       63.39|       Degree|
| 87990|DEPARTMENT OF BUS...|        null|          42405.0|        65485.0|          Annual|     """1.	A baccalaur...|New York City res...|" all candidates ...|        30.7|       Degree|
+------+--------------------+------------+-----------------+---------------+----------------+-------------------------+--------------------+--------------------+------------+-------------+

In [60]:
from pyspark.sql.functions import when

In [61]:
df_salary_degree_JC = df_salary_degree.\
                        withColumn('Job Category', 
                                   when(
                                       col('Job Category').isNull(),"Not Specified").\
                                   otherwise(col('Job Category')))

rows with Job ID in (87990,97899) had NULL 'Job Category' before the update
check values now:

In [62]:
df_salary_degree_JC.where(col('Job Category').isNull()).count()

0

In [63]:
df_salary_degree_JC.filter(col('Job ID') == 87990).select('Job Category').show()

+-------------+
| Job Category|
+-------------+
|Not Specified|
+-------------+

In [64]:
df_salary_degree_JC.filter(col('Job ID') == 97899).select('Job Category').show()

+-------------+
| Job Category|
+-------------+
|Not Specified|
+-------------+

In [65]:
df_salary_degree_JC.filter(col('Job Category') == 'Not Specified').count()

2

In [66]:
df_salary_degree_JC.select('Job Category').distinct().count()

131

In [67]:
df_salary_degree_JC.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
Job ID,1661,383594.9331727875,55442.69628987496,87990,426238
Agency,1661,None,None,ADMIN FOR CHILDREN'S SVCS,TEACHERS RETIREMENT SYSTEM
Job Category,1661,None,None,Administration & Human Resources,"Technology, Data & Innovation Social Services"
Salary Range From,1661,58836.501277965086,26392.114682422838,0.0,218587.0
Salary Range To,1661,85387.93789482239,42041.27995414807,10.36,234402.0
Salary Frequency,1661,None,None,Annual,Hourly
Minimum Qual Requirements,1652,None,None,AND TAKE AND PASS THE EXAM FOR THE CIVIL SERV...,â€¢ Masterâ€™s degree in business administrati...
Posting Date,1518,32.0625,52.07558867150587,3. A satisfactory combination of education a...,â€¢Hands-on experience in developing large Int...
Preferred Skills,1530,None,None,2.\tAn associate degree from an accredited c...,â€¢Relevant experience in the construction ind...
HourlySalary,1661,43.62527401170266,15.141683499318422,9.55,124.41
Higher Degree,1661,None,None,Associate,not_specified

# Posting Date

See my analysis regarding [posting data](data_analysis.ipynb#posting_date_analysis_summary)

In [68]:
from pyspark.sql.functions import col,regexp_extract,to_date,when

In [69]:
df_salary_degree_JC.select('Posting Date').show(10,truncate=False)

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Posting Date                                                                                                                                                                                                                                                                                                                                                                                                    |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|New York City residency is generally required within 90 days of appointment. However, City Employees in certain titles who have worked for the City for 2 continuous years may also be eligible to reside in Nassau, Suffolk, Putnam, Westchester, Rockland, or Orange County. To determine if the residency requirement applies to you, please discuss with the agency representative at the time of interview.|
|2017-11-01T00:00:00.000                                                                                                                                                                                                                                                                                                                                                                                         |
|2018-03-27T00:00:00.000                                                                                                                                                                                                                                                                                                                                                                                         |
| systems analysis and design                                                                                                                                                                                                                                                                                                                                                                                    |
|null                                                                                                                                                                                                                                                                                                                                                                                                            |
|2019-09-30T00:00:00.000                                                                                                                                                                                                                                                                                                                                                                                         |
|2019-08-28T00:00:00.000                                                                                                                                                                                                                                                                                                                                                                                         |
| industrial psychology                                                                                                                                                                                                                                                                                                                                                                                          |
| integration                                                                                                                                                                                                                                                                                                                                                                                                    |
|2017-01-09T00:00:00.000                                                                                                                                                                                                                                                                                                                                                                                         |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 10 rows

- removed the null by setting a crazy date that I'll exclude when running the reports

In [70]:
df_pre_final1 = df_salary_degree_JC.\
            withColumn("PostingDate_regexp",
                      regexp_extract(
                          'Posting Date',
                          r'.*?(\d{4}-\d{2}-\d{2})T.*?',
                          1
                      )).\
            withColumn("PostingDateYYYYMMDD",
                       when(col('PostingDate_regexp') == "",
                            '1900-01-01').\
                       when(col('PostingDate_regexp').isNull(),
                            '1900-01-01').\
                       otherwise(
                           col('PostingDate_regexp')
                       )
                      ).\
            withColumn("PostingDateAdj",
                       to_date(col("PostingDateYYYYMMDD"),"yyyy-MM-dd"))

In [71]:
df_pre_final1.printSchema()

root
 |-- Job ID: integer (nullable = true)
 |-- Agency: string (nullable = true)
 |-- Job Category: string (nullable = true)
 |-- Salary Range From: double (nullable = true)
 |-- Salary Range To: double (nullable = true)
 |-- Salary Frequency: string (nullable = true)
 |-- Minimum Qual Requirements: string (nullable = true)
 |-- Posting Date: string (nullable = true)
 |-- Preferred Skills: string (nullable = true)
 |-- HourlySalary: float (nullable = true)
 |-- Higher Degree: string (nullable = true)
 |-- PostingDate_regexp: string (nullable = true)
 |-- PostingDateYYYYMMDD: string (nullable = true)
 |-- PostingDateAdj: date (nullable = true)

In [72]:
df_salary_degree_JC = None

In [73]:
df_pre_final1.select('Posting Date','PostingDate_regexp',"PostingDateYYYYMMDD","PostingDateAdj").show()

+--------------------+------------------+-------------------+--------------+
|        Posting Date|PostingDate_regexp|PostingDateYYYYMMDD|PostingDateAdj|
+--------------------+------------------+-------------------+--------------+
|New York City res...|                  |         1900-01-01|    1900-01-01|
|2017-11-01T00:00:...|        2017-11-01|         2017-11-01|    2017-11-01|
|2018-03-27T00:00:...|        2018-03-27|         2018-03-27|    2018-03-27|
| systems analysis...|                  |         1900-01-01|    1900-01-01|
|                null|              null|         1900-01-01|    1900-01-01|
|2019-09-30T00:00:...|        2019-09-30|         2019-09-30|    2019-09-30|
|2019-08-28T00:00:...|        2019-08-28|         2019-08-28|    2019-08-28|
| industrial psych...|                  |         1900-01-01|    1900-01-01|
|         integration|                  |         1900-01-01|    1900-01-01|
|2017-01-09T00:00:...|        2017-01-09|         2017-01-09|    2017-01-09|
|2018-09-19T00:00:...|        2018-09-19|         2018-09-19|    2018-09-19|
|2019-03-02T00:00:...|        2019-03-02|         2019-03-02|    2019-03-02|
|                null|              null|         1900-01-01|    1900-01-01|
|Appointments are ...|                  |         1900-01-01|    1900-01-01|
|2019-07-31T00:00:...|        2019-07-31|         2019-07-31|    2019-07-31|
| executive experi...|                  |         1900-01-01|    1900-01-01|
| business or publ...|                  |         1900-01-01|    1900-01-01|
|2019-12-06T00:00:...|        2019-12-06|         2019-12-06|    2019-12-06|
|New York City res...|                  |         1900-01-01|    1900-01-01|
| or analytical or...|                  |         1900-01-01|    1900-01-01|
+--------------------+------------------+-------------------+--------------+
only showing top 20 rows

In [81]:
df_final = df_pre_final1.\
                    drop(col('Salary Range From')).\
                    drop(col('Salary Range To')).\
                    drop(col('Salary Frequency')).\
                    drop(col('Minimum Qual Requirements')).\
                    drop(col('Posting Date')).\
                    drop(col('PostingDate_regexp')).\
                    drop(col('PostingDateYYYYMMDD')).\
                    drop(col('Posting Date')).\
                    withColumnRenamed('Job ID','JobID').\
                    withColumnRenamed('Job Category','JobCategory').\
                    withColumnRenamed('Higher Degree','HigherDegree').\
                    withColumnRenamed('Preferred Skills','PreferredSkills')

In [82]:
df_final.printSchema()

root
 |-- JobID: integer (nullable = true)
 |-- Agency: string (nullable = true)
 |-- JobCategory: string (nullable = true)
 |-- PreferredSkills: string (nullable = true)
 |-- HourlySalary: float (nullable = true)
 |-- HigherDegree: string (nullable = true)
 |-- PostingDateAdj: date (nullable = true)

In [83]:
df_final.describe().show()

+-------+-----------------+--------------------+--------------------+--------------------+------------------+-------------+
|summary|            JobID|              Agency|         JobCategory|     PreferredSkills|      HourlySalary| HigherDegree|
+-------+-----------------+--------------------+--------------------+--------------------+------------------+-------------+
|  count|             1661|                1661|                1661|                1530|              1661|         1661|
|   mean|383594.9331727875|                null|                null|                null| 43.62527401170266|         null|
| stddev|55442.69628987496|                null|                null|                null|15.141683499318422|         null|
|    min|            87990|ADMIN FOR CHILDRE...|Administration & ...|  2.	An associate...|              9.55|    Associate|
|    max|           426238|TEACHERS RETIREME...|Technology, Data ...|â€¢Relevant exper...|            124.41|not_specified|
+-------+-----------------+--------------------+--------------------+--------------------+------------------+-------------+

Where has PostingDateAdj gone from describe????? 

Its in printSchema but not describe.

In [84]:
df_final.select("PostingDateAdj").show()

+--------------+
|PostingDateAdj|
+--------------+
|    1900-01-01|
|    2017-11-01|
|    2018-03-27|
|    1900-01-01|
|    1900-01-01|
|    2019-09-30|
|    2019-08-28|
|    1900-01-01|
|    1900-01-01|
|    2017-01-09|
|    2018-09-19|
|    2019-03-02|
|    1900-01-01|
|    1900-01-01|
|    2019-07-31|
|    1900-01-01|
|    1900-01-01|
|    2019-12-06|
|    1900-01-01|
|    1900-01-01|
+--------------+
only showing top 20 rows

In [85]:
df_final.printSchema()

root
 |-- JobID: integer (nullable = true)
 |-- Agency: string (nullable = true)
 |-- JobCategory: string (nullable = true)
 |-- PreferredSkills: string (nullable = true)
 |-- HourlySalary: float (nullable = true)
 |-- HigherDegree: string (nullable = true)
 |-- PostingDateAdj: date (nullable = true)

In [86]:
!ls /dataset/

dedupd_df.csv  invoices.csv  nyc-jobs.csv

In [87]:
df_final.write.parquet('/dataset/df_final',mode='overwrite')

In [88]:
!ls /dataset/df_final

_SUCCESS
part-00000-5bc0b4f6-8f79-431b-975d-03fb6ab05eff-c000.snappy.parquet
part-00001-5bc0b4f6-8f79-431b-975d-03fb6ab05eff-c000.snappy.parquet
part-00002-5bc0b4f6-8f79-431b-975d-03fb6ab05eff-c000.snappy.parquet

### test that we can read in the saved DF

In [89]:
test_df = spark.read.parquet('/dataset/df_final')

In [90]:
test_df.printSchema()

root
 |-- JobID: integer (nullable = true)
 |-- Agency: string (nullable = true)
 |-- JobCategory: string (nullable = true)
 |-- PreferredSkills: string (nullable = true)
 |-- HourlySalary: float (nullable = true)
 |-- HigherDegree: string (nullable = true)
 |-- PostingDateAdj: date (nullable = true)